.cart {
    margin: 0 auto;
    width: 920px;

    &__products {
        border-bottom: 1px solid #ffd7b0;
        padding-bottom: 70px;

        &__item {
            margin-top: 85px;
            position: relative;

            &__image {
                width: 140px;

                img {
                    max-width: 100%;
                    text-align: center;
                }
            }
            &__content {
                margin-left: 20px;
                width: 450px;

                &__title {
                    font-size: 16px;
                    font-weight: bold;
                    width: 400px;

                    a {
                        color: #000;
                    }
                }
                &__description {
                    font-size: 13px;
                    margin-top: 5px;
                }
            }
            
            &__size {
                margin-left: 80px;
                text-align: center;
                width: 65px;
            }
            &__close {
                background: #ff7f00;
                cursor: pointer;
                height: 28px;
                position: absolute;
                left: 590px;
                top: -5px;
                width: 35px;
            }
            
        }
    }
}


                .cart__products__item__close:hover {
                    opacity: .8;
                }
                .cart__products__item__close:before,
                .cart__products__item__close:after {
                    background: #fff;
                    left: 50%;
                    top: 4px;
                    content: '\0020';
                    height: 20px;
                    position: absolute;
                    width: 1px;

                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    transform: rotate(-45deg);

                    -webkit-transform-origin: 50% 50%;
                    -moz-transform-origin: 50% 50%;
                    -ms-transform-origin: 50% 50%;
                    -o-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
                }
                .cart__products__item__close:after {

                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    transform: rotate(45deg);                            
                }

        .cart__products__item__size {
            text-align: center;
            width: 70px;
        }
            .cart__products__item__size__title {
                font-size: 12px;
                margin-bottom: 15px;
            }
        .cart__products__item__price {
            text-align: center;
            width: 80px;
        }
            .cart__products__item__price__title {
                font-size: 12px;
                margin-bottom: 15px;
            }
            .cart__products__item__price__value {
                color: #ff7f00;
                font-family: 'PT Sans', sans-serif;
                font-size: 24px;
                font-weight: bold;
                line-height: 1;
                white-space: nowrap;
            }

    .cart__total {
        margin: 10px 30px 0 0;
        padding: 5px;
        text-align: right;
    }
        .cart__total__title {
            font-size: 26px;

            &__hint {
                font-size: 14px;
            }
        }
        .cart__total__value {
            color: #ff7f00;
            font-family: 'PT Sans', sans-serif;
            font-size: 24px;
            font-weight: bold;
        }

        .cart__total {
            &__coupon {
                margin-top: 20px;

                input {
                    vertical-align: middle;
                    width: 250px;
                }
                .btn {
                    font-size: 18px;
                    height: 50px;
                    line-height: 51px;
                    margin-left: -.4em;
                    padding: 0;
                    text-align: center;
                    vertical-align: middle;
                    width: 61px;
                }
            }
        }

    .cart__actions {
        line-height: 40px;
        margin: 20px 30px 0 0;
    }
        .cart__actions a {
            color: #ff7f00;
            text-decoration: underline;
        }
        .cart__actions a.btn {
            color: #000 !important;
            text-decoration: none;
        }

    .order-comment {
        margin-left: 220px;
    }

    .order-delivery {
        margin: 0 0 0 220px;

        &_info {
            margin: 40px 0 0;
        }
    }
        input[type=radio] {
            background: #fff;
            border-radius: 50%;
            border: 2px solid #464646;
            display: inline-block;
            position: relative;
            top: 2px;
            height: 12px;
            width: 12px;

            -webkit-appearance: none;
        }
            input[type=radio]:checked {
                background: #ff7f00;
                border-color: #ff7f00;

                box-shadow: inset 0 0 0 2px #fff;
            }

    .order-delivery__item {
        display: block;
        margin-bottom: 45px;
        overflow: hidden;
    }
        .order-delivery__item__content {
            width: 570px;

            a {
                text-decoration: underline;
            }
        }
            .order-delivery__item__content__title {
                display: block;
                font-size: 16px;
            }
            .order-delivery__item__content__text {
                display: block;
                margin-top: 10px;
            }

    .order-payment {
        font-size: 16px;
        margin: 0 0 0 220px;
    }
        .order-payment__item {
            margin-top: 20px;
        }
            .order-payment__item label {
                margin-left: 5px;
            }

    .order-address {
        margin: 0 0 0 210px;
        width: 535px;
    }
        .order-address label {
            display: block;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 15px;
        }

        .hr {
            border-top: 1px solid #ffd7b0;
            border-bottom: 1px solid #fff5eb;
        }

    .order-total {
        margin: 60px 0;
        padding-bottom: 60px;
    }
        .order-total__title {
            font-size: 26px;
            margin-top: 10px;
        }
        .order-total__sum {
            color: #ff7f00;
            font-family: 'PT Sans', sans-serif;
            font-size: 24px;
            margin-top: 10px;
        }