.form-row {
    margin-top: 25px;
    position: relative;

    &_center {
        text-align: center;
    }
}

.input-wrap {
    position: relative;

    &_inline {
        display: inline-block;
    }
}

.input-error {
    background: #ff3333;
    color: #fff;
    display: none;
    left: 15%;
    margin: 0;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    top: -40px;
    width: 300px;
    z-index: 3;

    &:after {
        border-top: 13px solid #f33;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        bottom: -13px;
        content: '\0020';
        left: 143px;
        position: absolute;   
    }

    &_left {
        left: -320px;
        top: -15px;

        &:after {
            border-bottom: 15px solid transparent;
            border-left: 13px solid #f33;
            border-top: 15px solid transparent;
            border-right: 0;
            left: auto;
            bottom: auto;
            right: -13px;
            top: 15px;
        }
    }

    &_coupon {
        top: -2px;
    }
}

input[type=text],
input[type=email],
textarea {
    border: 1px solid #bbbbbb;
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    padding: 15px 25px;
    height: 50px;
    width: 535px;

    .box-sizing();
}
textarea {
    height: 150px;
    resize: none;
}