
/* ==|== non-semantic helper classes ======================================== */

.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }

.mt0 { margin-top: 0 !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }

.mb0 { margin-bottom: 0 !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }

.align-center {
    text-align: center;
}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.h { display: none !important; visibility: hidden; }
.invisible { visibility: hidden; }
.c:before, .c:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.c:after { clear: both; }
.c { zoom: 1; }
.l, .r { display: inline; float: left; position: relative; }
.r { float: right; }
.b { border: 1px solid red; }
.bt { border-top: 1px solid transparent; }
.bb { border-bottom: 1px solid transparent; }

.transition {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
