html,
body {
    height: 100%;
}

.page-wrap {
    border-bottom: 1px solid transparent;
    min-height: 100%;
}

body {
    font: 13px Verdana, sans-serif;
    width: 100%;
}

.page-logo {
    background: url(../images/logo.png) 0 0 no-repeat;
    display: block;
    height: 119px;
    margin: 0 auto;
    width: 157px;

    .orange & {
        background-image: url(../images/logo_orange.png);
    }
    .aqua & {
        background-image: url(../images/logo_aqua.png);
    }
    .purple & {
        background-image: url(../images/logo_purple.png);
    }
    .darkgreen & {
        background-image: url(../images/logo_darkgreen.png);
    }
}

@-webkit-keyframes spinner{
    0% {
        top: 0;
    }
    30% {
        top: -15px;
    }
    55% {
        top: 0;
    }
    75% {
        top: -10px
    }
    100% {
        top: 0;
    }
}

@-moz-keyframes spinner{0%{top:0} 20%{top:-10px} 40%{top:10px} 60%{top:-5px;} 80%{top:5px;} 100%{top:0}}
@-o-keyframes spinner{0%{top:0} 20%{top:-10px} 40%{top:10px} 60%{top:-5px;} 80%{top:5px;} 100%{top:0}}
@keyframes spinner{0%{top:0} 20%{top:-10px} 40%{top:10px} 60%{top:-5px;} 80%{top:5px;} 100%{top:0}}

.page-header {
    margin-top: 40px;
    min-width: 980px;
    text-align: center;
    padding-bottom: 50px;
    position: relative;

    &__line-wrap {
        width: 100%;
        overflow: hidden;
        position: absolute;
        height: 50px;
    }

    &__line {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        width: 200%;

        &_orange,
        &_purple,
        &_darkgreen,
        &_aqua {
            display: none;
        }
        .orange &_orange {
            display: block;
        }
        .aqua &_aqua {
            display: block;
        }
        .purple &_purple {
            display: block;
        }
        .darkgreen &_darkgreen {
            display: block;
        }
        .orange &_green,
        .aqua &_green,
        .darkgreen &_green,
        .purple &_green {
            display: none;
        }
    }

    &__cart {
        left: 50%;
        margin: 0 0 0 250px;
        position: absolute;
        top: 95px;
        z-index: 2;
        width: 50px;

        &_fixed {
            left: auto;
            position: fixed;
            right: 50px;
            top: 30px;
        }

        &__title {
            cursor: pointer;
            position: relative;

            .transform(rotate(0));

            &__counter {
                font-size: 14px;
                margin-left: 5px;
                vertical-align: middle;
            }
        }

        &_new-product &__title {
            -webkit-animation: spinner 0.6s;
            -moz-animation: spinner 0.6s;
            -ms-animation: spinner 0.6s;
            -o-animation: spinner 0.6s;
            animation: spinner 0.6s;

            -webkit-transition: transform .5s;
            -moz-transition: transform .5s;
            -ms-transition: transform .5s;
            -o-transition: transform .5s;
            transition: transform .5s;
        }

        &_fixed &__dropdown {
            left: -200px;
        }
        &_fixed &__dropdown:before {
            left: 205px;
        }

        &__dropdown {
            background: #fff;
            border: 1px solid #aaa;
            border-top: 6px solid #ff7f00;
            display: none;
            opacity: 0;
            position: absolute;
            left: -83px;
            text-align: left;
            top: 35px;
            width: 275px;

            .transition(~'opacity .1s');

            &:before {
                border-bottom: 9px solid #ff7f00;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                content: '\0020';
                left: 87px;
                position: absolute;
                top: -15px;
            }

            &__list {
                border-bottom: 1px dotted #aaa;
                max-height: 350px;
                overflow: auto;

                &__item {
                    border-top: 3px solid #aaa;
                    min-height: 100px;
                    line-height: 100px;
                    padding: 5px 0;
                    position: relative;
                    vertical-align: middle;
    
                    .box-sizing();
                    .transition(0.2s);

                    &:hover {
                        opacity: .7;
                    }

                    &__image {
                        display: inline-block;
                        img {
                            height: auto;
                            max-width: 100%;
                        }
                    }

                    &__title {
                        font-size: 12px;
                        line-height: 18px;
                        display: inline-block;
                        width: 100px;
                        vertical-align: middle;
                    }

                    &__price {
                        display: inline-block;
                        font-family: 'PT Sans', sans-serif;
                        width: 80px;
                        text-align: right;
                        white-space: nowrap;
                    }

                    &__close {
                        background: #ff7f00;
                        cursor: pointer;
                        height: 22px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 25px;

                        .transition(opacity .2s);

                        &:hover {
                            opacity: .8;
                        }

                        &:before,
                        &:after {
                            background: #fff;
                            left: 12px;
                            top: 1px;
                            content: '\0020';
                            height: 20px;
                            position: absolute;
                            width: 1px;

                            .transform(rotate(-45deg));
                            .transform-origin(50% 50%);
                        }
                        &:after {
                            .transform(rotate(45deg));                           
                        }
                    }
                }
            }

    


            &__info,
            &__info-empty {
                font-weight: bold;
                font-size: 13px;
                padding: 10px 25px 0;

                &__sum {
                    font-family: 'PT Sans', sans-serif;
                }
            }
            &__info-empty {
                display: none;
            }
            &__btn {
                color: #fff !important;
                margin: 15px;
            }

        }

        &_empty &__dropdown__info,
        &_empty &__dropdown__btn {
            display: none;
        }
        &_empty &__dropdown__info-empty {
            display: block;
            margin-bottom: 15px;
        }

        &_opened &__dropdown {
            display: block;
            opacity: 1;
        }

            &__dropdown__list__item:first-child {
                border: none;
            }

            &__dropdown__list__item__image {
                margin: 0 10px;
                width: 60px;
            }
    }
    
    
}

.page-footer {
    background: #d4dd4d;
    height: 250px;
    margin-top: -320px;
    padding: 40px 0 30px;
    text-align: center;

    .purple &,
    .aqua &,
    .darkgreen & {
        color: #fff;
    }

    a {
        border-bottom: 1px solid;
    }
}
    .orange .page-footer {
        background: @orange;
    }
    .aqua .page-footer {
        background: @aqua;
    }
    .aqua .page-footer {
        background: @aqua;
    }
    .purple .page-footer {
        background: @purple;
    }
    .darkgreen .page-footer {
        background: @darkgreen;
    }

    .page-footer__heading {
        font-size: 20px;
        font-weight: bold;
    }
    .page-footer__text {
        font-size: 15px;
        line-height: 18px;
        margin: 20px auto;
        width: 400px;
    }

    .page-footer__info {
        font-weight: bold;
        line-height: 24px;
    }
        .page-footer__info a {
            color: #000;

            .purple &,
            .aqua &,
            .darkgreen & {
                color: #fff;
            }
        }

    .page-footer__social-links {
        margin: 25px 0 0;
    }
        .page-footer__social-links a {
            border-radius: 50%;
            border: none;
            display: inline-block;
            margin: 0 2px;
            position: relative;

            -webkit-transform: rotate(0) scale(1);
            -moz-transform: rotate(0) scale(1);
            -ms-transform: rotate(0) scale(1);
            -o-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);

            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            -o-transform-origin: 50% 50%;
            transform-origin: 50% 50%;

            -webkit-transition: -webkit-transform .2s;
            -moz-transition: -moz-transform .2s;
            -ms-transition: -ms-transform .2s;
            -o-transition: -o-transform .2s;
            transition: transform .2s;
        }
            .page-footer__social-links a:hover {
                -webkit-transform: rotate(45deg) scale(1.1);
                -moz-transform: rotate(45deg) scale(1.1);
                -ms-transform: rotate(45deg) scale(1.1);
                -o-transform: rotate(45deg) scale(1.1);
                transform: rotate(45deg) scale(1.1);
            }