.border-radius(@value) {
    -webkit-border-radius: @value;
    -moz-border-radius: @value;
    border-radius: @value;
}

.transition(@value) {
    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.transition-delay(@value) {
    -webkit-transition-delay: @value;
    -moz-transition-delay: @value;
    -ms-transition-delay: @value;
    -o-transition-delay: @value;
    transition-delay: @value;
}

.transform(@value) {
    -webkit-transform: @value;
    -moz-transform: @value;
    -ms-transform: @value;
    -o-transform: @value;
    transform: @value;
}

.transform-origin(@value) {
    -webkit-transform-origin: @value;
    -moz-transform-origin: @value;
    -ms-transform-origin: @value;
    -o-transform-origin: @value;
    transform-origin: @value;
}

.box-sizing(@value: border-box) {
    -webkit-box-sizing: @value;
    -moz-box-sizing: @value;
    box-sizing: @value;
}