.product {

    &__images {
        min-height: 400px;
        width: 600px;

        img {
            margin-bottom: 20px;
            max-width: 100%;
        }
    }
    &__content {
        margin-left: 40px;
        width: 320px;

        &_fixed {
            margin-left: 60px;
            top: 50px;
            position: fixed;
        }

        &__title {
            font: bold 22px 'Playfair Display', arial;
            margin-top: -3px;
        }

        &__separator {
            background: #d4dd4d;
            height: 1px;
            margin: 30px 0 37px;
            position: relative;

            &:before {
                background: #fff;
                border: 1px solid #d4dd4d;
                border-radius: 2px;
                content: '\0020';
                height: 9px;
                position: absolute;
                top: -5px;
                width: 9px;

                .transform(rotate(45deg));
                .transform-origin(50% 50%);
            }
        }

        &__price {
            font-family: 'PT Sans', sans-serif;
            font-size: 18px;
            margin-bottom: 30px;
        }

        &__details {
            font-size: 13px;

            &__title {
                font-weight: bold;
                margin-top: 15px;
            }
            &__description {
                margin-top: 5px;
            }
        }

        &__actions {
            position: relative;            

            .product_in-cart &__button {
                display: none;
            }
        }

        

    } /* &__content */
} /* .product */


            .product__content__actions__like-popup,
            .product-item__bottom__like-popup {
                background: url(../images/sprite.png) 0 -66px no-repeat;
                opacity: 0;
                height: 68px;
                left: 10px;
                position: absolute;
                width: 62px;

                -webkit-transition: -webkit-transform .3s, top .3s, opacity .3s;
                -moz-transition: -moz-transform .3s, top .3s, opacity .3s;
                -ms-transition: -ms-transform .3s, top .3s, opacity .3s;
                -o-transition: -o-transform .3s, top .3s, opacity .3s;
                transition: transform .3s, top .3s, opacity .3s;

                -webkit-transform: scale(0.1);
                -moz-transform: scale(0.1);
                transform: scale(0.1);
            }
            .product-item__bottom__like-popup {
                left: 50%;
                margin-left: -30px;
                position: absolute;
            }

                .product__content__actions__like-popup_opened,
                .product-item__bottom__like-popup_opened {
                    left: 10px;                    
                    opacity: 1;
                    top: -70px;

                    -webkit-transform: rotate(0) scale(1);
                    -moz-transform: rotate(0) scale(1);
                    transform: rotate(0) scale(1);
                }
                .product-item__bottom__like-popup_opened {
                    left: 50%;
                    margin-left: -30px;
                }
                .product__content__actions__like-popup_away,
                .product-item__bottom__like-popup_away {
                    top: -200px;
                    opacity: 0;

                    -webkit-transition: -webkit-transform .7s, top .7s, opacity .7s;
                    -moz-transition: -moz-transform .7s, top .7s, opacity .7s;
                    -ms-transition: -ms-transform .7s, top .7s, opacity .7s;
                    -o-transition: -o-transform .7s, top .7s, opacity .7s;
                    transition: transform .7s, top .7s, opacity .7s;

                    -webkit-transform: scale(3);
                    -moz-transform: scale(3);
                    transform: scale(3);
                }
            .product__content__actions__button {
                margin-top: 10px;
                position: relative;
            }