.product-list {
    font-size: 0;
    margin: 0 auto;
    max-width: 1280px;
}


.product-item {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 80px;
    max-height: 700px;
    overflow: hidden;
    opacity: 1;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 33%;

    .transition(~'max-height .5s, width .5s, margin .5s, opacity .3s');
    .transition-delay(~'0, 0, 0, .1s');

    .box-sizing();

    &_hidden {
        margin: 0 !important;
        max-height: 0;
        opacity: 0;
        width: 0 !important;

        .transition-delay(~'0, 0, 0, 0');
    }

    @media screen and (min-width: 1200px) {
        width: 25%;
    }

    &_in-cart &__button,
    &_in-cart &__info {
        display: none;
    }

    &_small {
        width: 33% !important;
    }

    &__bottom {
        position: relative;
        width: 100%;
        height: 34px;

        &__old-price {
            color: #8f8f8f;
            text-decoration: line-through;
        }
    }

    &__image {
        display: block;
        margin: 0 auto 25px;
        max-width: 80%;
        opacity: 1;
        
        // -webkit-backface-visibility: hidden;
    }

    &:hover &__image {
        opacity: 0.3;
    }

    &__title {
        left: 15%;
        opacity: 0;
        position: absolute;
        top: 40%;
        text-decoration: none !important;
        width: 70%;
        -webkit-backface-visibility: hidden;

        .transition(opacity 0.2s);

        a {
            color: #000 !important;
            text-decoration: none !important;
        }
    }

    &:hover &__title {
        opacity: 1;
    }

    &__button {
        background: #d4dd4d;
        color: #000;
        display: inline-block;
        height: 33px;
        line-height: 33px;
        overflow: hidden;
        width: 100px;
        -webkit-backface-visibility: hidden;

        .transition(opacity 0.3s);

        &:hover {
            opacity: 0.7;
        }

        &__text {
            display: block;
            -webkit-backface-visibility: hidden;

            .transform(scale(.1));

            -webkit-transition: -webkit-transform .3s;
            -moz-transition: -moz-transform .3s;
            -ms-transition: -ms-transform .3s;
            -o-transition: -o-transform .3s;
            transition: transform .3s;
        }

        &__price {
            display: block;
            font-family: 'PT Sans', sans-serif;
            margin-top: 0;
            white-space: nowrap;
            -webkit-backface-visibility: hidden;

            -webkit-transition: -webkit-transform .3s, margin .2s;
            -moz-transition: -moz-transform .3s, margin .2s;
            -ms-transition: -ms-transform .3s, margin .2s;
            -o-transition: -o-transform .3s, margin .2s;
            transition: transform .3s, margin .2s;
        }
    }
    &:hover &__button__price {
        display: block;
        font-family: 'PT Sans', sans-serif;
        margin-top: -33px;

        .transform(scale(.1));
    }

    &:hover &__button__text {
        .transform(scale(1));
    }
    
    &__info,
    &__postponed {
        line-height: 33px;
    }
}


