.reviews {


}

.reviews-list {
    margin: 27px auto 50px;
    width: 930px;

    &__col {
        width: 440px;
    }
}

.reviews-item {
    display: inline-block;
    margin: 25px 0 70px;
    position: relative;
    vertical-align: baseline;
    width: 440px;

    &__image {
        border-radius: 50%;
        bottom: -5px;
        height: 117px;
        left: 0;
        overflow: hidden;
        position: absolute;
        width: 117px;
    }

    &__content {
        &__review {
            background: @aqua;
            color: #fff;
            line-height: 18px;
            padding: 15px 10px;
            position: relative;
            width: 280px;

            &:before {
                border-top: 7px solid transparent;
                border-right: 15px solid @aqua;
                border-left: 15px solid transparent;
                border-bottom: 7px solid @aqua;
                content: '\0020';
                position: absolute;
                left: -24px;
                bottom: 17px;

                .transform(rotate(-15deg));
            }
        }
        &__name {
            font: 20px 'Playfair Display', arial;
            margin-top: 5px;
        }
        &__place {
            font-size: 14px;
            margin-top: 10px;
        }
    }
}