/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/PTS55F-webfont.eot');
    src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@orange: #ff7f00;
@green: #d4dd4d;
@purple: #802982;
@darkgreen: #80b412;
@aqua: #29c1a6;

@import "reset";
@import "mixins";
@import "helpers";
@import "reset";

@import "jquery.customselect.less";
@import "suggestions";

@import "ui";
@import "forms";

@import "layout";
@import "product_list";
@import "reviews";
@import "cart";
@import "product";

.page-nav {
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
}
    .page-nav__link {
        border: 1px solid #fff;
        color: #000;
        display: inline-block;
        height: 42px;
        margin: 0 5px;
        padding: 0 12px;
        line-height: 42px;


        .transition(border-color .2s);
    }
        .page-nav__link_selected {
            border-color: #fff !important;
            background: #d4dd4d;
            cursor: default;
            color: #000;
        }
        .page-nav__link:hover {
            border: 1px solid @green;
            color: #000;

            .orange & {
                border-color: @orange;
            }
            .darkgreen & {
                border-color: @darkgreen;
            }
            .aqua & {
                border-color: @aqua;
            }
            .purple & {
                border-color: @purple;
            }
        }
        .orange .page-nav__link_selected {
            background: @orange;
            color: #000;
        }
        .aqua .page-nav__link_selected {
            background: @aqua;
            color: #fff;
        }
        .purple .page-nav__link_selected {
            background: @purple;
            color: #fff;
        }
        .darkgreen .page-nav__link_selected {
            background: @darkgreen;
            color: #fff;
        }


.page-content {
    border-bottom: 1px solid #fff;
    margin: 0px auto 350px;
    width: 980px;

    a {
        // text-decoration: underline;

        .darkgreen & {
            color: #80b412;
        }
    }

    .liquid & {
        min-width: 980px;
        width: auto;
    }

    &__text {
        font-size: 13px;
        line-height: 17px;
        padding-bottom: 30px;
        width: 600px;

        a {
            border-bottom: 1px solid;
        }

        h4 {
            font-size: 16px;
            font-weight: normal;
        }
    }

    &__message {
        margin: 50px 0 50px 225px;

        &__title {
            font: 54px 'Playfair Display', serif;
        }
        &__text {
            font-size: 26px;
        }
        &__info {
            font-size: 14px;
            margin-top: 10px;
        }
    }

    &__heading {
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        font-weight: 100;
        margin-top: 50px;
        text-align: center;

        &_left {
            text-align: left;
        }
        &_big {
            font-size: 22px;
        }

        span {
            color: #ff7f00;
        }
    }

    &__subheading {
        border-left: 2px solid #dddddd;
        border-right: 2px solid #dddddd;
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        height: 16px;
        line-height: 16px;
        margin: 80px auto 50px;
        position: relative;
        text-align: center;
        width: 280px;

        &:before,
        &:after {
            background: #ddd;
            content: '\0020';
            height: 2px;
            position: absolute;
            top: 7px;
            width: 190px;
        }
        &:before {
            left: -190px;
        }
        &:after {
            right: -190px;
        }
    }
}




    .page-content__nav {
        font: 24px 'Playfair Display', serif;
        font-weight: 100;
        margin-bottom: 40px;
        text-align: center;

        &__link {
            color: #999;
            border-bottom: 1px solid;
            margin: 0 15px;
            text-decoration: none !important;

            &_sale {
                color: #b22c00;
            }

            &:hover {
                color: #666;
            }
            &_selected {
                border-bottom: none;
                color: #000;
                cursor: default;
            }
        }
    }

.product-filter {
    margin-left: 30px;
}



