.btn {
    background: #ff7f00;
    border: none;
    color: #000 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none !important;

    .transition(opacity 0.2s);

    &_low {
        height: 32px;
        line-height: 32px;
    }
    &_green {
        background: #d4dd4d;
        color: #333 !important;
    }
    &_grey {
        background: #999;
    }
    &:hover {
        opacity: 0.7;
    }

    &[disabled] {
        color: #fff !important;
        cursor: default;
        background: #999;
        opacity: 1;
    }
}

.icon {
    background: url(../images/sprite.png) no-repeat;
    display: inline-block;
    position: relative;
    vertical-align: middle;

    &_ruble {
        background: none;
        display: inline;
        font-family: 'pt_sansregular', sans-serif;
        font-style: normal;
        vertical-align: baseline;
    }

    &_cart {
        background-position: 0 0 ;
        height: 22px;
        width: 19px;

        .page-header__cart_opened &,
        .page-header__cart_new-product &,
        &:hover {
            background-position: -19px 0;
        }
    }

    &_instagram,
    &_vk,
    &_facebook,
    &_ok {
        height: 43px;
        width: 44px;
    }
    &_instagram {
        background-position: 0 -23px;
    }
    &_facebook {
        background-position: -53px -22px;
    }
    &_vk {
        background-position: -105px -22px;
    }
    &_ok {
        background-position: -157px -22px;
    }
}

