.hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } 
.err { color: #a61717; background-color: #e3d2d2 } 
.k { font-weight: bold } 
.o { font-weight: bold } 
.cm { color: #999988; font-style: italic } 
.cp { color: #999999; font-weight: bold } 
.c1 { color: #999988; font-style: italic } 
.cs { color: #999999; font-weight: bold; font-style: italic }
.gd { color: #000000; background-color: #ffdddd } 
.ge { font-style: italic } 
.gr { color: #aa0000 } 
.gh { color: #999999 } 
.gi { color: #000000; background-color: #ddffdd } 
.go { color: #888888 } 
.gp { color: #555555 } 
.gs { font-weight: bold } 
.gu { color: #aaaaaa } 
.gt { color: #aa0000 } 
.kc { font-weight: bold } 
.kd { font-weight: bold } 
.kn { font-weight: bold } 
.kp { font-weight: bold } 
.kr { font-weight: bold } 
.kt { color: #445588; font-weight: bold } 
.m { color: #009999 } 
.s { color: #bb8844 } 
.na { color: #008080 } 
.nb { color: #999999 } 
.nc { color: #445588; font-weight: bold } 
.no { color: #008080 } 
.ni { color: #800080 } 
.ne { color: #990000; font-weight: bold } 
.nf { color: #990000; font-weight: bold } 
.nn { color: #555555 } 
.nt { color: #000080 } 
.nv { color: #008080 } 
.ow { font-weight: bold } 
.w { color: #bbbbbb } 
.mf { color: #009999 } 
.mh { color: #009999 } 
.mi { color: #009999 } 
.mo { color: #009999 } 
.sb { color: #bb8844 } 
.sc { color: #bb8844 } 
.sd { color: #bb8844 } 
.s2 { color: #bb8844 } 
.se { color: #bb8844 } 
.sh { color: #bb8844 } 
.si { color: #bb8844 } 
.sx { color: #bb8844 } 
.sr { color: #808000 } 
.s1 { color: #bb8844 } 
.ss { color: #bb8844 } 
.bp { color: #999999 } 
.vc { color: #008080 } 
.vg { color: #008080 } 
.vi { color: #008080 } 
.il { color: #009999 } 