/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

@font-face {
  font-family: 'pt_sansregular';
  src: url('../fonts/PTS55F-webfont.eot');
  src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F-webfont.woff') format('woff'), url('../fonts/PTS55F-webfont.ttf') format('truetype'), url('../fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}

/*
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
*/

a {
  color: #00a1c5;
  text-decoration: none;
}

a.action {
  border-bottom: 1px dotted #00a1c5;
  text-decoration: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

table button,
table input {
  *overflow: auto;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid,
textarea:invalid {
  outline: none;
}

table {
  border-collapse: none;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
}

/* ==|== non-semantic helper classes ======================================== */

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.align-center {
  text-align: center;
}

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.h {
  display: none !important;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.c:before,
.c:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.c:after {
  clear: both;
}

.c {
  zoom: 1;
}

.l,
.r {
  display: inline;
  float: left;
  position: relative;
}

.r {
  float: right;
}

.b {
  border: 1px solid red;
}

.bt {
  border-top: 1px solid transparent;
}

.bb {
  border-bottom: 1px solid transparent;
}

.transition {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.custom-select {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}

.custom-select_disabled .custom-select__title {
  background: #fff;
  color: #ccc;
  cursor: default;
}

.custom-select a {
  text-decoration: none;
}

.custom-select__title {
  background: #fff;
  border: 1px solid #ff8001;
  color: #ff7f00 !important;
  cursor: pointer;
  display: block;
  font-size: 16px;
  height: 25px;
  line-height: 22px;
  padding: 1px 50px 0 7px;
  position: relative;
  white-space: nowrap;
  z-index: 6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.custom-select__title a {
  text-align: left;
}

.custom-select__title:after {
  content: '\0020';
  position: absolute;
  right: 8px;
  top: 9px;
  z-index: 8;
  border-top: 8px solid #666666;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.custom-select__dropdown {
  background: #fff;
  border: 1px solid #02707a;
  display: none;
  max-height: 300px;
  outline: none !important;
  overflow: hidden;
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: left;
  z-index: 7;
}

.custom-select__dropdown li {
  height: 25px;
  line-height: 24px;
  white-space: nowrap;
}

.custom-select__dropdown a {
  color: #ff7f00;
  display: block;
  font-size: 16px;
  padding-left: 7px;
  text-decoration: none;
}

.custom-select__dropdown a.selected,
.custom-select__dropdown a:hover {
  /*color: #000;*/
}

.autocomplete-suggestions {
  background: #fff;
  border: 1px solid #b3b9cb;
  cursor: default;
  max-height: 500px;
  overflow: auto;
}

.autocomplete-suggestions strong {
  color: #3399FF;
  font-weight: normal;
}

.autocomplete-suggestion {
  overflow: hidden;
  padding: 2px 5px;
  white-space: nowrap;
}

.autocomplete-selected {
  background: #f0f0f0;
}

.btn {
  background: #ff7f00;
  border: none;
  color: #000 !important;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  text-decoration: none !important;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.btn_low {
  height: 32px;
  line-height: 32px;
}

.btn_green {
  background: #d4dd4d;
  color: #333 !important;
}

.btn_grey {
  background: #999;
}

.btn:hover {
  opacity: 0.7;
}

.btn[disabled] {
  color: #fff !important;
  cursor: default;
  background: #999;
  opacity: 1;
}

.icon {
  background: url(../images/sprite.png) no-repeat;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.icon_ruble {
  background: none;
  display: inline;
  font-family: 'pt_sansregular', sans-serif;
  font-style: normal;
  vertical-align: baseline;
}

.icon_cart {
  background-position: 0 0;
  height: 22px;
  width: 19px;
}

.page-header__cart_opened .icon_cart,
.page-header__cart_new-product .icon_cart,
.icon_cart:hover {
  background-position: -19px 0;
}

.icon_instagram,
.icon_vk,
.icon_facebook,
.icon_ok {
  height: 43px;
  width: 44px;
}

.icon_instagram {
  background-position: 0 -23px;
}

.icon_facebook {
  background-position: -53px -22px;
}

.icon_vk {
  background-position: -105px -22px;
}

.icon_ok {
  background-position: -157px -22px;
}

.form-row {
  margin-top: 25px;
  position: relative;
}

.form-row_center {
  text-align: center;
}

.input-wrap {
  position: relative;
}

.input-wrap_inline {
  display: inline-block;
}

.input-error {
  background: #ff3333;
  color: #fff;
  display: none;
  left: 15%;
  margin: 0;
  padding: 20px 0;
  position: absolute;
  text-align: center;
  top: -40px;
  width: 300px;
  z-index: 3;
}

.input-error:after {
  border-top: 13px solid #f33;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: -13px;
  content: '\0020';
  left: 143px;
  position: absolute;
}

.input-error_left {
  left: -320px;
  top: -15px;
}

.input-error_left:after {
  border-bottom: 15px solid transparent;
  border-left: 13px solid #f33;
  border-top: 15px solid transparent;
  border-right: 0;
  left: auto;
  bottom: auto;
  right: -13px;
  top: 15px;
}

.input-error_coupon {
  top: -2px;
}

input[type=text],
input[type=email],
textarea {
  border: 1px solid #bbbbbb;
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
  padding: 15px 25px;
  height: 50px;
  width: 535px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  height: 150px;
  resize: none;
}

html,
body {
  height: 100%;
}

.page-wrap {
  border-bottom: 1px solid transparent;
  min-height: 100%;
}

body {
  font: 13px Verdana, sans-serif;
  width: 100%;
}

.page-logo {
  background: url(../images/logo.png) 0 0 no-repeat;
  display: block;
  height: 119px;
  margin: 0 auto;
  width: 157px;
}

.orange .page-logo {
  background-image: url(../images/logo_orange.png);
}

.aqua .page-logo {
  background-image: url(../images/logo_aqua.png);
}

.purple .page-logo {
  background-image: url(../images/logo_purple.png);
}

.darkgreen .page-logo {
  background-image: url(../images/logo_darkgreen.png);
}

@-webkit-keyframes spinner {
  0% {
    top: 0;
  }

  30% {
    top: -15px;
  }

  55% {
    top: 0;
  }

  75% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}

@keyframes spinner {
  0% {
    top: 0;
  }

  20% {
    top: -10px;
  }

  40% {
    top: 10px;
  }

  60% {
    top: -5px;
  }

  80% {
    top: 5px;
  }

  100% {
    top: 0;
  }
}

.page-header {
  margin-top: 40px;
  min-width: 980px;
  text-align: center;
  padding-bottom: 50px;
  position: relative;
}

.page-header__line-wrap {
  width: 100%;
  overflow: hidden;
  position: absolute;
  height: 50px;
}

.page-header__line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 200%;
}

.page-header__line_orange,
.page-header__line_purple,
.page-header__line_darkgreen,
.page-header__line_aqua {
  display: none;
}

.orange .page-header__line_orange {
  display: block;
}

.aqua .page-header__line_aqua {
  display: block;
}

.purple .page-header__line_purple {
  display: block;
}

.darkgreen .page-header__line_darkgreen {
  display: block;
}

.orange .page-header__line_green,
.aqua .page-header__line_green,
.darkgreen .page-header__line_green,
.purple .page-header__line_green {
  display: none;
}

.page-header__cart {
  left: 50%;
  margin: 0 0 0 250px;
  position: absolute;
  top: 95px;
  z-index: 2;
  width: 50px;
}

.page-header__cart_fixed {
  left: auto;
  position: fixed;
  right: 50px;
  top: 30px;
}

.page-header__cart__title {
  cursor: pointer;
  position: relative;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.page-header__cart__title__counter {
  font-size: 14px;
  margin-left: 5px;
  vertical-align: middle;
}

.page-header__cart_new-product .page-header__cart__title {
  -webkit-animation: spinner 0.6s;
  -ms-animation: spinner 0.6s;
  animation: spinner 0.6s;
  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
}

.page-header__cart_fixed .page-header__cart__dropdown {
  left: -200px;
}

.page-header__cart_fixed .page-header__cart__dropdown:before {
  left: 205px;
}

.page-header__cart__dropdown {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 6px solid #ff7f00;
  display: none;
  opacity: 0;
  position: absolute;
  left: -83px;
  text-align: left;
  top: 35px;
  width: 275px;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.page-header__cart__dropdown:before {
  border-bottom: 9px solid #ff7f00;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '\0020';
  left: 87px;
  position: absolute;
  top: -15px;
}

.page-header__cart__dropdown__list {
  border-bottom: 1px dotted #aaa;
  max-height: 350px;
  overflow: auto;
}

.page-header__cart__dropdown__list__item {
  border-top: 3px solid #aaa;
  min-height: 100px;
  line-height: 100px;
  padding: 5px 0;
  position: relative;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.page-header__cart__dropdown__list__item:hover {
  opacity: .7;
}

.page-header__cart__dropdown__list__item__image {
  display: inline-block;
}

.page-header__cart__dropdown__list__item__image img {
  height: auto;
  max-width: 100%;
}

.page-header__cart__dropdown__list__item__title {
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}

.page-header__cart__dropdown__list__item__price {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  width: 80px;
  text-align: right;
  white-space: nowrap;
}

.page-header__cart__dropdown__list__item__close {
  background: #ff7f00;
  cursor: pointer;
  height: 22px;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.page-header__cart__dropdown__list__item__close:hover {
  opacity: .8;
}

.page-header__cart__dropdown__list__item__close:before,
.page-header__cart__dropdown__list__item__close:after {
  background: #fff;
  left: 12px;
  top: 1px;
  content: '\0020';
  height: 20px;
  position: absolute;
  width: 1px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.page-header__cart__dropdown__list__item__close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.page-header__cart__dropdown__info,
.page-header__cart__dropdown__info-empty {
  font-weight: bold;
  font-size: 13px;
  padding: 10px 25px 0;
}

.page-header__cart__dropdown__info__sum,
.page-header__cart__dropdown__info-empty__sum {
  font-family: 'PT Sans', sans-serif;
}

.page-header__cart__dropdown__info-empty {
  display: none;
}

.page-header__cart__dropdown__btn {
  color: #fff !important;
  margin: 15px;
}

.page-header__cart_empty .page-header__cart__dropdown__info,
.page-header__cart_empty .page-header__cart__dropdown__btn {
  display: none;
}

.page-header__cart_empty .page-header__cart__dropdown__info-empty {
  display: block;
  margin-bottom: 15px;
}

.page-header__cart_opened .page-header__cart__dropdown {
  display: block;
  opacity: 1;
}

.page-header__cart__dropdown__list__item:first-child {
  border: none;
}

.page-header__cart__dropdown__list__item__image {
  margin: 0 10px;
  width: 60px;
}

.page-footer {
  background: #d4dd4d;
  height: 250px;
  margin-top: -320px;
  padding: 40px 0 30px;
  text-align: center;
}

.purple .page-footer,
.aqua .page-footer,
.darkgreen .page-footer {
  color: #fff;
}

.page-footer a {
  border-bottom: 1px solid;
}

.orange .page-footer {
  background: #ff7f00;
}

.aqua .page-footer {
  background: #29c1a6;
}

.aqua .page-footer {
  background: #29c1a6;
}

.purple .page-footer {
  background: #802982;
}

.darkgreen .page-footer {
  background: #80b412;
}

.page-footer__heading {
  font-size: 20px;
  font-weight: bold;
}

.page-footer__text {
  font-size: 15px;
  line-height: 18px;
  margin: 20px auto;
  width: 400px;
}

.page-footer__info {
  font-weight: bold;
  line-height: 24px;
}

.page-footer__info a {
  color: #000;
}

.purple .page-footer__info a,
.aqua .page-footer__info a,
.darkgreen .page-footer__info a {
  color: #fff;
}

.page-footer__social-links {
  margin: 25px 0 0;
}

.page-footer__social-links a {
  border-radius: 50%;
  border: none;
  display: inline-block;
  margin: 0 2px;
  position: relative;
  -webkit-transform: rotate(0) scale(1);
  -ms-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform .2s;
}

.page-footer__social-links a:hover {
  -webkit-transform: rotate(45deg) scale(1.1);
  -ms-transform: rotate(45deg) scale(1.1);
  transform: rotate(45deg) scale(1.1);
}

.product-list {
  font-size: 0;
  margin: 0 auto;
  max-width: 1280px;
}

.product-item {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 80px;
  max-height: 700px;
  overflow: hidden;
  opacity: 1;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 33%;
  -webkit-transition: max-height .5s, width .5s, margin .5s, opacity .3s;
  transition: max-height .5s, width .5s, margin .5s, opacity .3s;
  -webkit-transition-delay: 0, 0, 0, .1s;
  transition-delay: 0, 0, 0, .1s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.product-item_hidden {
  margin: 0 !important;
  max-height: 0;
  opacity: 0;
  width: 0 !important;
  -webkit-transition-delay: 0, 0, 0, 0;
  transition-delay: 0, 0, 0, 0;
}

@media screen and (min-width: 1200px) {
  .product-item {
    width: 25%;
  }
}

.product-item_in-cart .product-item__button,
.product-item_in-cart .product-item__info {
  display: none;
}

.product-item_small {
  width: 33% !important;
}

.product-item__bottom {
  position: relative;
  width: 100%;
  height: 34px;
}

.product-item__bottom__old-price {
  color: #8f8f8f;
  text-decoration: line-through;
}

.product-item__image {
  display: block;
  margin: 0 auto 25px;
  max-width: 80%;
  opacity: 1;
}

.product-item:hover .product-item__image {
  opacity: 0.3;
}

.product-item__title {
  left: 15%;
  opacity: 0;
  position: absolute;
  top: 40%;
  text-decoration: none !important;
  width: 70%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.product-item__title a {
  color: #000 !important;
  text-decoration: none !important;
}

.product-item:hover .product-item__title {
  opacity: 1;
}

.product-item__button {
  background: #d4dd4d;
  color: #000;
  display: inline-block;
  height: 33px;
  line-height: 33px;
  overflow: hidden;
  width: 100px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.product-item__button:hover {
  opacity: 0.7;
}

.product-item__button__text {
  display: block;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform .3s;
}

.product-item__button__price {
  display: block;
  font-family: 'PT Sans', sans-serif;
  margin-top: 0;
  white-space: nowrap;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, margin 0.2s;
  transition: transform .3s, margin .2s;
}

.product-item:hover .product-item__button__price {
  display: block;
  font-family: 'PT Sans', sans-serif;
  margin-top: -33px;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
}

.product-item:hover .product-item__button__text {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.product-item__info,
.product-item__postponed {
  line-height: 33px;
}

.reviews-list {
  margin: 27px auto 50px;
  width: 930px;
}

.reviews-list__col {
  width: 440px;
}

.reviews-item {
  display: inline-block;
  margin: 25px 0 70px;
  position: relative;
  vertical-align: baseline;
  width: 440px;
}

.reviews-item__image {
  border-radius: 50%;
  bottom: -5px;
  height: 117px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 117px;
}

.reviews-item__content__review {
  background: #29c1a6;
  color: #fff;
  line-height: 18px;
  padding: 15px 10px;
  position: relative;
  width: 280px;
}

.reviews-item__content__review:before {
  border-top: 7px solid transparent;
  border-right: 15px solid #29c1a6;
  border-left: 15px solid transparent;
  border-bottom: 7px solid #29c1a6;
  content: '\0020';
  position: absolute;
  left: -24px;
  bottom: 17px;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.reviews-item__content__name {
  font: 20px 'Playfair Display', arial;
  margin-top: 5px;
}

.reviews-item__content__place {
  font-size: 14px;
  margin-top: 10px;
}

.cart {
  margin: 0 auto;
  width: 920px;
}

.cart__products {
  border-bottom: 1px solid #ffd7b0;
  padding-bottom: 70px;
}

.cart__products__item {
  margin-top: 85px;
  position: relative;
}

.cart__products__item__image {
  width: 140px;
}

.cart__products__item__image img {
  max-width: 100%;
  text-align: center;
}

.cart__products__item__content {
  margin-left: 20px;
  width: 450px;
}

.cart__products__item__content__title {
  font-size: 16px;
  font-weight: bold;
  width: 400px;
}

.cart__products__item__content__title a {
  color: #000;
}

.cart__products__item__content__description {
  font-size: 13px;
  margin-top: 5px;
}

.cart__products__item__size {
  margin-left: 80px;
  text-align: center;
  width: 65px;
}

.cart__products__item__close {
  background: #ff7f00;
  cursor: pointer;
  height: 28px;
  position: absolute;
  left: 590px;
  top: -5px;
  width: 35px;
}

.cart__products__item__close:hover {
  opacity: .8;
}

.cart__products__item__close:before,
.cart__products__item__close:after {
  background: #fff;
  left: 50%;
  top: 4px;
  content: '\0020';
  height: 20px;
  position: absolute;
  width: 1px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.cart__products__item__close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cart__products__item__size {
  text-align: center;
  width: 70px;
}

.cart__products__item__size__title {
  font-size: 12px;
  margin-bottom: 15px;
}

.cart__products__item__price {
  text-align: center;
  width: 80px;
}

.cart__products__item__price__title {
  font-size: 12px;
  margin-bottom: 15px;
}

.cart__products__item__price__value {
  color: #ff7f00;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
}

.cart__total {
  margin: 10px 30px 0 0;
  padding: 5px;
  text-align: right;
}

.cart__total__title {
  font-size: 26px;
}

.cart__total__title__hint {
  font-size: 14px;
}

.cart__total__value {
  color: #ff7f00;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.cart__total__coupon {
  margin-top: 20px;
}

.cart__total__coupon input {
  vertical-align: middle;
  width: 250px;
}

.cart__total__coupon .btn {
  font-size: 18px;
  height: 50px;
  line-height: 51px;
  margin-left: -0.4em;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 61px;
}

.cart__actions {
  line-height: 40px;
  margin: 20px 30px 0 0;
}

.cart__actions a {
  color: #ff7f00;
  text-decoration: underline;
}

.cart__actions a.btn {
  color: #000 !important;
  text-decoration: none;
}

.order-comment {
  margin-left: 220px;
}

.order-delivery {
  margin: 0 0 0 220px;
}

.order-delivery_info {
  margin: 40px 0 0;
}

input[type=radio] {
  background: #fff;
  border-radius: 50%;
  border: 2px solid #464646;
  display: inline-block;
  position: relative;
  top: 2px;
  height: 12px;
  width: 12px;
  -webkit-appearance: none;
}

input[type=radio]:checked {
  background: #ff7f00;
  border-color: #ff7f00;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
  box-shadow: inset 0 0 0 2px #fff;
}

.order-delivery__item {
  display: block;
  margin-bottom: 45px;
  overflow: hidden;
}

.order-delivery__item__content {
  width: 570px;
}

.order-delivery__item__content a {
  text-decoration: underline;
}

.order-delivery__item__content__title {
  display: block;
  font-size: 16px;
}

.order-delivery__item__content__text {
  display: block;
  margin-top: 10px;
}

.order-payment {
  font-size: 16px;
  margin: 0 0 0 220px;
}

.order-payment__item {
  margin-top: 20px;
}

.order-payment__item label {
  margin-left: 5px;
}

.order-address {
  margin: 0 0 0 210px;
  width: 535px;
}

.order-address label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
}

.hr {
  border-top: 1px solid #ffd7b0;
  border-bottom: 1px solid #fff5eb;
}

.order-total {
  margin: 60px 0;
  padding-bottom: 60px;
}

.order-total__title {
  font-size: 26px;
  margin-top: 10px;
}

.order-total__sum {
  color: #ff7f00;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  margin-top: 10px;
}

.product {
  /* &__content */
}

.product__images {
  min-height: 400px;
  width: 600px;
}

.product__images img {
  margin-bottom: 20px;
  max-width: 100%;
}

.product__content {
  margin-left: 40px;
  width: 320px;
}

.product__content_fixed {
  margin-left: 60px;
  top: 50px;
  position: fixed;
}

.product__content__title {
  font: bold 22px 'Playfair Display', arial;
  margin-top: -3px;
}

.product__content__separator {
  background: #d4dd4d;
  height: 1px;
  margin: 30px 0 37px;
  position: relative;
}

.product__content__separator:before {
  background: #fff;
  border: 1px solid #d4dd4d;
  border-radius: 2px;
  content: '\0020';
  height: 9px;
  position: absolute;
  top: -5px;
  width: 9px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.product__content__price {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}

.product__content__details {
  font-size: 13px;
}

.product__content__details__title {
  font-weight: bold;
  margin-top: 15px;
}

.product__content__details__description {
  margin-top: 5px;
}

.product__content__actions {
  position: relative;
}

.product_in-cart .product__content__actions__button {
  display: none;
}

/* .product */

.product__content__actions__like-popup,
.product-item__bottom__like-popup {
  background: url(../images/sprite.png) 0 -66px no-repeat;
  opacity: 0;
  height: 68px;
  left: 10px;
  position: absolute;
  width: 62px;
  -webkit-transition: -webkit-transform 0.3s, top 0.3s, opacity 0.3s;
  transition: transform .3s, top .3s, opacity .3s;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
}

.product-item__bottom__like-popup {
  left: 50%;
  margin-left: -30px;
  position: absolute;
}

.product__content__actions__like-popup_opened,
.product-item__bottom__like-popup_opened {
  left: 10px;
  opacity: 1;
  top: -70px;
  -webkit-transform: rotate(0) scale(1);
  -ms-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}

.product-item__bottom__like-popup_opened {
  left: 50%;
  margin-left: -30px;
}

.product__content__actions__like-popup_away,
.product-item__bottom__like-popup_away {
  top: -200px;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.7s, top 0.7s, opacity 0.7s;
  transition: transform .7s, top .7s, opacity .7s;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
}

.product__content__actions__button {
  margin-top: 10px;
  position: relative;
}

.page-nav {
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
}

.page-nav__link {
  border: 1px solid #fff;
  color: #000;
  display: inline-block;
  height: 42px;
  margin: 0 5px;
  padding: 0 12px;
  line-height: 42px;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.page-nav__link_selected {
  border-color: #fff !important;
  background: #d4dd4d;
  cursor: default;
  color: #000;
}

.page-nav__link:hover {
  border: 1px solid #d4dd4d;
  color: #000;
}

.orange .page-nav__link:hover {
  border-color: #ff7f00;
}

.darkgreen .page-nav__link:hover {
  border-color: #80b412;
}

.aqua .page-nav__link:hover {
  border-color: #29c1a6;
}

.purple .page-nav__link:hover {
  border-color: #802982;
}

.orange .page-nav__link_selected {
  background: #ff7f00;
  color: #000;
}

.aqua .page-nav__link_selected {
  background: #29c1a6;
  color: #fff;
}

.purple .page-nav__link_selected {
  background: #802982;
  color: #fff;
}

.darkgreen .page-nav__link_selected {
  background: #80b412;
  color: #fff;
}

.page-content {
  border-bottom: 1px solid #fff;
  margin: 0px auto 350px;
  width: 980px;
}

.darkgreen .page-content a {
  color: #80b412;
}

.liquid .page-content {
  min-width: 980px;
  width: auto;
}

.page-content__text {
  font-size: 13px;
  line-height: 17px;
  padding-bottom: 30px;
  width: 600px;
}

.page-content__text a {
  border-bottom: 1px solid;
}

.page-content__text h4 {
  font-size: 16px;
  font-weight: normal;
}

.page-content__message {
  margin: 50px 0 50px 225px;
}

.page-content__message__title {
  font: 54px 'Playfair Display', serif;
}

.page-content__message__text {
  font-size: 26px;
}

.page-content__message__info {
  font-size: 14px;
  margin-top: 10px;
}

.page-content__heading {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 100;
  margin-top: 50px;
  text-align: center;
}

.page-content__heading_left {
  text-align: left;
}

.page-content__heading_big {
  font-size: 22px;
}

.page-content__heading span {
  color: #ff7f00;
}

.page-content__subheading {
  border-left: 2px solid #dddddd;
  border-right: 2px solid #dddddd;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  height: 16px;
  line-height: 16px;
  margin: 80px auto 50px;
  position: relative;
  text-align: center;
  width: 280px;
}

.page-content__subheading:before,
.page-content__subheading:after {
  background: #ddd;
  content: '\0020';
  height: 2px;
  position: absolute;
  top: 7px;
  width: 190px;
}

.page-content__subheading:before {
  left: -190px;
}

.page-content__subheading:after {
  right: -190px;
}

.page-content__nav {
  font: 24px 'Playfair Display', serif;
  font-weight: 100;
  margin-bottom: 40px;
  text-align: center;
}

.page-content__nav__link {
  color: #999;
  border-bottom: 1px solid;
  margin: 0 15px;
  text-decoration: none !important;
}

.page-content__nav__link_sale {
  color: #b22c00;
}

.page-content__nav__link:hover {
  color: #666;
}

.page-content__nav__link_selected {
  border-bottom: none;
  color: #000;
  cursor: default;
}

.product-filter {
  margin-left: 30px;
}