{#<td class="w50">
	{% if record.filename %}
		<a href="/admin/{{ cls_name }}/{{ record.id }}{% if filter %}?filter={{ filter }}{% endif %}"
				class="admin-list-pwork">
			<img src="{{ record.get_file_url((500)) }}"></a>
	{% endif %}
</td>#}
<td class="editable-attr w20p" data-editable-name="name">
	{{ record.name }}
</td>
<td class="editable-attr w20p" data-editable-name="phone">
	{{ record.phone }}
</td>
<td class="editable-attr w10p" data-editable-name="note" data-editable-type="textarea">
	{{ record.note }}
</td>
<td class="editable-attr w10p">
	{{ record.date_added }}
</td>
<td class="actions">
	<a title="редактировать" href="/admin/{{ cls_name }}/{{ record.id }}">
		<i class="icon-pencil"></i></a>
	<a title="удалить" href="/admin/{{ cls_name }}/delete/{{ record.id }}" class="delete-row-link">
		<i class="icon-trash"></i></a>
</td>