<td></td>
<td class="w30p">
	{#{% if file.preview %}
		<img src="{{ file.url('preview') }}" alt="" class="preview l mr10" />
	{% endif %}#}

	<div class="title">
		<a href="{{ file.url() }}" target="_blank" class="admin-list-work">
			<strong>{{ file.filename }}</strong></a>,
		<span class="size">{{ file.size_display }}</span>
	</div>

	{% if file.info %}
		<div class="details info">
			<a href="#" class="summary action">файлы в архиве</a>
			<div class="content">
				{{ file.info_html }}
			</div>
		</div>
	{% endif %}
</td>
<td class="editable-attr" data-editable-name="description" data-editable-type="textarea"
		data-editable-value="{{ file.description }}" data-editable-truncate="40">
	{% if file.description|length > 40 %}
		{{ file.description|truncate(40, True) }}
	{% else %}
		{{ file.description }}
	{% endif %}
</td>
<td class="editable-attr" data-editable-name="tags">
	{% for tag in file.tags -%}
		{{ tag.name }}{% if not loop.last %}, {% endif -%}
	{% endfor %}
</td>
<td class="nowrap">
	{% if file.date_added %}
		{{ file.date_added.strftime('%Y-%m-%d @%H:%M:%S') }}
	{% endif %}
</td>
<td class="actions">
	<a href="/download/?filepath={{ file.path() }}" title="скачать">
		<i class="icon-download"></i></a>
	<a title="удалить" class="delete-row-link" href="/admin/{{ cls_name }}/delete/{{ file.id }}">
		<i class="icon-trash"></i></a>
</td>