<td>
	{% if file.preview %}
		<img src="{{ file.url('preview') }}" alt="" class="preview l mr10" />
	{% endif %}

	<div class="title">
		<a href="{{ file.url() }}" class="admin-list-work">
			<strong>{{ file.filename }}</strong></a>,
		<span class="size">{{ file.size_display }}</span>
	</div>

	{% if file.description %}
		<div class="description editable-item">{{ file.description }}</div>
	{% endif %}{# file.description #}

	{% if file.tags %}
		<div class="tags editable-item">
			{% for tag in file.tags %}
				{% if current_tag_id and tag.id == current_tag_id|int %}
					#<span>{{ tag.name }}</span>
				{% else %}
					#<a href="/admin/File/?tag_id={{ tag.id }}">{{ tag.name }}</a>
				{% endif %}
			{% endfor %}{# for tag in tags #}
		</div>
	{% endif %}

	{% if file.info %}
		<div class="details info">
			<a href="#" class="summary action">файлы в архиве</a>
			<div class="content">
				{{ file.info_html }}
			</div>
		</div>
	{% endif %}
</td>
<td class="editable-attr" data-editable-name="description">
	{{ file.description }}
</td>
<td class="editable-attr" data-editable-name="tags">
	{% for tag in file.tags -%}
		{{ tag.name }}{% if not loop.last %}, {% endif -%}
	{% endfor %}
</td>
<td class="nowrap">
	{% if file.date_added %}
		{{ file.date_added.strftime('%Y-%m-%d @%H:%M:%S') }}
	{% endif %}
</td>
<td class="actions">
	<a href="/download/?filepath={{ file.path() }}" title="download">
		<i class="icon-download"></i></a>
	<a title="edit" class="edit-row-link" href="/admin/{{ cls_name }}/{{ file.id }}">
		<i class="icon-pencil"></i></a>
	<a title="delete" class="delete-row-link" href="/admin/{{ cls_name }}/delete/{{ file.id }}">
		<i class="icon-trash"></i></a>
</td>