<td class="move w30 align-center"><i class="icon-move"></i></td>
<td class="editable-attr w20p" data-editable-name="title">
	{{ price.title }}
</td>
<td class="editable-attr w10p" data-editable-name="price">
	{{ price.price }}
</td>
<td class="editable-attr w40p" data-editable-type="textarea" data-editable-name="description"
		data-editable-value="{{ price.description }}" data-editable-truncate="40">
	{{ price.description|truncate(40, True) }}
</td>
<td class="checkbox-cell js-checkbox-cell">
	<input class="editable-checkbox" type="checkbox" name="in_card" id="in_card" {% if price.in_card %}checked{% endif %}>
</td>
<td class="checkbox-cell js-checkbox-cell">
	<input class="editable-checkbox" type="checkbox" name="in_catalog" id="in_catalog" {% if price.in_catalog %}checked{% endif %}>
</td>
<td class="checkbox-cell js-checkbox-cell">
	<input class="editable-checkbox" type="checkbox" name="in_shop" id="in_shop" {% if price.in_shop %}checked{% endif %}>
</td>
<td class="checkbox-cell js-checkbox-cell">
	<input class="editable-checkbox" type="checkbox" name="by_default" id="by_default" {% if price.by_default %}checked{% endif %}>
</td>
<td class="actions">
	<a title="редактировать" href="/admin/{{ cls_name }}/{{ price.id }}" class="edit-row-link">
		<i class="icon-pencil"></i></a>
	<a title="удалить" href="/admin/{{ cls_name }}/delete/{{ price.id }}" class="delete-row-link">
		<i class="icon-trash"></i></a>
</td>