<td class="w50">
	{% if record.preview_filename %}
		<a href="/admin/{{ cls_name }}/{{ record.id }}{% if filter %}?filter={{ filter }}{% endif %}"
				class="admin-list-pwork">
			<img style="max-width: 50px; max-height: 50px" src="{{ record.get_preview_url() }}"></a>
	{% endif %}
</td>
<td class="editable-attr" data-editable-name="title">
	{{ record.title }}
</td>
<td>
	{{ record.get_type_display() }}
</td>
<td class="editable-attr" data-editable-name="description" data-editable-type="textarea"
		data-editable-truncate="40" data-editable-value="{{ record.description }}">
	{% if record.description|length > 40 %}
		{{ record.description|truncate(40, True) }}
	{% else %}
		{{ record.description }}
	{% endif %}
</td>
<td class="editable-attr">
	<input type="checkbox" name="sold" {% if record.sold %}checked{% endif %} class="editable-checkbox">
</td>
<td class="editable-attr">
	<input type="checkbox" name="postponed" {% if record.postponed %}checked{% endif %} class="editable-checkbox">
</td>
<td class="editable-attr" data-editable-name="price">
	{{ record.price }}
</td>
<td class="editable-attr" data-editable-name="size">
	{{ record.get_size_display() }}
</td>
<td class="editable-attr" data-editable-name="material">
	{{ record.material }}
</td>
<td class="editable-attr" data-editable-name="weight">
	{{ record.weight }}
</td>
<td class="actions">
	<a title="редактировать" href="/admin/{{ cls_name }}/{{ record.id }}">
		<i class="icon-pencil"></i></a>
	{#<a title="редактировать фотографии" href="/admin/{{ cls_name }}/{{ record.id }}#editPhotosTitle">
		<i class="icon-picture"></i></a>#}
	<a title="удалить" href="/admin/{{ cls_name }}/delete/{{ record.id }}" class="delete-row-link">
		<i class="icon-trash"></i></a>
</td>