<td class="move w30"><i class="icon-move"></i></td>
<td class="w50">
	{% if work.filename_thumb %}
		<a href="/admin/{{ cls_name }}/{{ work.id }}{% if filter %}?filter={{ filter }}{% endif %}"
				class="admin-list-pwork">
			<img style="max-width: 50px; max-height: 50px" src="{{ work.thumb }}"></a>
	{% endif %}
</td>
<td class="editable-attr" data-editable-name="title">
	{{ work.title }}
</td>
<td class="editable-attr" data-editable-name="description" data-editable-type="textarea"
		data-editable-truncate="40">
	{% if work.description|length > 40 %}
		{{ work.description|truncate(40, True) }}
	{% else %}
		{{ work.description }}
	{% endif %}
</td>
<td class="editable-attr" data-editable-name="link">
	{{ work.link }}
</td>
<td class="editable-attr" data-editable-name="slug">
	{{ work.slug }}
</td>
<td class="w20 align-center">
	<input class="editable-checkbox" name="show_in_feed" type="checkbox" {% if work.show_in_feed %}checked{% endif %}>
</td>
<td class="w20 align-center">
	<input class="editable-checkbox" name="dont_show" type="checkbox" {% if work.dont_show %}checked{% endif %}>
</td>
<td class="actions">
	<a title="редактировать" href="/admin/{{ cls_name }}/{{ work.id }}">
		<i class="icon-pencil"></i></a>
	<a title="редактировать фотографии" href="/admin/{{ cls_name }}/{{ work.id }}#editPhotosTitle">
		<i class="icon-picture"></i></a>
	<a title="удалить" href="/admin/{{ cls_name }}/delete/{{ work.id }}" class="delete-row-link">
		<i class="icon-trash"></i></a>
</td>