{% extends 'base_admin.jinja' %}

{% block pagetitle %}Купон{% endblock pagetitle %}

{% block content %}
        
    <h2>Купон</h2>

    <form class="form-horizontal mt30" method="POST" enctype="multipart/form-data">
        <div class="control-group">
            <label for="" class="control-label">Код купона</label>
            <div class="controls">
                <input type="text" class="input-xxlarge" name="code" value="{{ coupon.code }}">
            </div> <!-- /.controls !!! -->
        </div>
        <div class="control-group">
            <label for="" class="control-label">Скидка (%)</label>
            <div class="controls">
                <input type="text" class="input-xxlarge" name="discount" value="{{ coupon.discount }}">
            </div> <!-- /.controls !!! -->
        </div>

        <div class="form-actions">

            <a class="btn" href="/admin">
                <i class="icon-arrow-left"></i> Отмена</a>
            <button type="submit" class="btn btn-primary">
                <i class="icon-ok icon-white"></i> Сохранить</button>
        </div>
    </form>

{% endblock content %}

{% if not add and cls_name == 'Work' %}
    {% block extra_js %}
        
    {% endblock extra_js %}
{% endif %}
