{% extends 'base_admin.jinja' %}

{% block content %}
	<h2>Works</h2>

	<p class="mt20">
		<a href="/admin/{{ cls_name }}/new" class="btn btn-small">
			<i class="icon-plus"></i> Добавить работу</a>

		<a href="{{ url_for('change_record_position', cls_name=cls_name) }}" class="btn btn-small js-hide" id="saveOrderButton">
			<i class="icon-list-alt"></i> Save order</a>
	</p>

	<p class="mt20">
		Фильтр:
		<a href="?" {% if not filter %}class="selected"{% endif %} title="">все</a>,
		<a href="?filter=site" {% if filter == 'site' %}class="selected"{% endif %} title="">сайты</a>,
		<a href="?filter=design" {% if filter == 'design' %}class="selected"{% endif %} title="">дизайн</a>,
		<a href="?filter=psd2html" {% if filter == 'psd2html' %}class="selected"{% endif %} title="">верстка</a>
	</p>
	{% if works %}
		<table class="mt20 table table-striped table-condensed table-dnd" data-cls-name="{{ cls_name }}">
			<thead>
				<tr>
					<th></th>
					<th>Картинка</th>
					<th>Название</th>
					<th>Описание</th>
					<th>Ссылка</th>
					<th>Слаг</th>
					<th class="align-center">Лента</th>
					<th class="align-center">Скрыть</th>
					<th></th>
				</tr>
			<tbody>
			{% for work in works %}
				<tr id="record{{ work.id }}" data-record-id="{{ work.id }}">
					{% include 'admin/_work.jinja' %}
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}