{% extends 'base_admin.jinja' %}

{% block content %}
	<h2>Обратная связь</h2>

	{% if feedbacks %}
		<table class="table table-striped table-condensed mt20" id="feedbackList">
			<thead>
				<tr>
					<th>Сообщение</th>
					<th>Дата</th>
					<th>Прочитано</th>
					<th>Тип</th>
					<th>Действия</th>
				</tr>
			<tbody>
			{% for feedback in feedbacks %}
				<tr class="{{ loop.cycle('row1', 'row2') }}" id="record{{ feedback.id }}" data-is-read="{{ feedback.is_read|int }}">
					<td class="message">
						<div class="short-message">{{ feedback.short_message }}...</div>
						<div class="full-message">{{ feedback.message_html|safe }}</div>
					</td>
					<td>
						{{ feedback.date_display() }}
					</td>
					<td class="what-have">
						<i class="is-read icon-{% if feedback.is_read %}plus{% else %}minus{% endif %}"></i>
					</td>
					<td>{{ feedback.type_display() }}</td>
					<td class="actions">
						<a title="отметить прочитанным или непрочитанным" href="/admin/{{ cls_name }}/is-read/{{ feedback.id }}" class="change-is-read">
							<i class="icon-refresh"></i></a>
						<a title="удалить" href="/admin/{{ cls_name }}/delete/{{ feedback.id }}" class="delete-row-link">
							<i class="icon-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p class="mt20">Сообщений пока нет</p>
	{% endif %}
{% endblock %}