{% extends 'base_admin.jinja' %}

{% block content %}
	<h2>Файлы</h2>

	<div class="details add-new mt20">
		<div>
			<a href="#" class="summary btn btn-small">
				<i class="icon-plus"></i> Добавить файл
			</a>
		</div>
		<div class="content">
			<form action="/admin/File/new" class="form-horizontal" method="POST"
					enctype="multipart/form-data">
				<div class="control-group">
					<label class="control-label">Файл</label>
					<div class="controls">
						<input type="file" name="file"><br/>
						<textarea class="span5" name="description" id="description" placeholder="Описание"></textarea>
						<input type="text" name="tags" placeholder="Теги" />
					</div>
				</div>

				<a href="" id="moreFiles" class="btn btn-small">
					<i class="icon-arrow-down"></i> еще файл</a>

				<div class="control-group mt20">
					<label class="control-label">Оповестить</label>
					<div class="controls">
						<select name="notification_emails" multiple>
							<option value="gkrasulya@gmail.com">gkrasulya@gmail.com</option>
							<option value="elikpero@gmail.com">elikpero@gmail.com</option>
						</select>
					</div>
				</div>

				<div class="form-actions">
					<button type="submit" class="btn btn-small btn-primary">Загрузить</button>
					<a href="" class="btn btn-small close-details">Отмена</a>
				</div>
			</form>
		</div>
	</div>


	{% if files %}
		{% if False %}
			<ul class="tag-list" id="tagsList">
				<li><a href="?">ALL</a></li>
				{% include 'admin/tags_list.jinja' %}
			</ul>
		{% endif %}

		<table class="table table-striped table-condensed editable-list mt20" data-cls-name="{{ cls_name }}">
			<thead>
				<tr>
					<th></th>
					<th>Файл</th>
					<th>Описание</th>
					<th>Тэги</th>
					<th>Дата</th>
					<th></th>
				</tr>
			<tbody>
			{% for file in files %}
				<tr id="record{{ file.id }}" data-record-id="{{ file.id }}">
					{% include 'admin/_file.jinja' %}
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p class="mt20">Нет загруженных файлов</p>
	{% endif %}
{% endblock %}