{% extends 'base_admin.jinja' %}

{% block content %}
	<h2>Статьи</h2>

	<p class="mt20">
		<a href="/admin/{{ cls_name }}/new" class="btn btn-small">
			<i class="icon-plus"></i> Добавить статью</a>
	</p>

	{% if records %}
		{% if False %}
			<ul class="tag-list" id="tagsList">
				<li><a href="?">все</a></li>
				{% include 'admin/tags_list.jinja' %}
			</ul>
		{% endif %}

		<table class="table table-striped table-condensed editable-list mt20" data-cls-name="{{ cls_name }}">
			<thead>
				<tr>
					{#<th></th>#}
					<th>Заголовок</th>
					<th>Слаг</th>
					<th>Описание</th>
					<th>Дата</th>
					<th></th>
				</tr>
			<tbody>
			{% for record in records %}
				<tr data-record-id="{{ record.id }}">
					{% include 'admin/_{0}.jinja'.format(record_name) %}
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p class="mt20">Нет статей</p>
	{% endif %}
{% endblock %}