{% extends 'base_admin.jinja' %}

{% block content %}
	<h2>Prices</h2>

	<div class="mt20">
		<a href="/admin/{{ cls_name }}/new" class="btn btn-small">
			<i class="icon-plus"></i> Add price
		</a>

		<a href="{{ url_for('change_record_position', cls_name=cls_name) }}" class="btn btn-small js-hide" id="saveOrderButton">
			<i class="icon-list-alt"></i> Save order</a>
	</div>

	{% if prices %}
		<table class="table table-striped table-condensed table-dnd mt20" data-cls-name="{{ cls_name }}">
			<thead>
				<tr>
					<th></th>
					<th>Модуль</th>
					<th>Цена</th>
					<th>Описание</th>
					<th>Входит в состав</th>
					<th>Действия</th>
				</tr>
			<tbody>
			{% for price in prices %}
				<tr class="{{ loop.cycle('row1', 'row2') }}
						{%- if price.by_default %}by-default{% else %}not-default{% endif %}" id="record{{ price.id }}"
						data-record-id="{{ price.id }}">
					<td class="move"><i class="icon-move"></i></td>
					<td class="editable-attr" data-editable-type="textarea" data-editable-value="{{ price.title }}"
							data-editable-name="title">
						{#<a href="/admin/{{ cls_name }}/{{ price.id }}"><strong>&bdquo;</strong>&ldquo;</a>#}
						{{ price.title }}
					</td>
					<td class="editable-attr" data-editable-type="text" data-editable-name="price">
						{{ price.price }}
					</td>
					<!-- {#
					<td>
						{% if price.code != 'design' and price.code != 'main' %}
							мин. <input type="text" class="input-min-pages" name="min_pages"
								id="min_pages_{{ price.id }}" value="{{ price.min_pages }}" /> стр.
						{% endif %}
					</td>
					#} -->
					<td class="editable-attr" data-editable-type="textarea" data-editable-name="description">
						{{ price.description }}
					</td>
					<td class="c">
						{% if price.by_default %}
							По умолчанию
						{% else %}
							{% if price.in_card %}<img src="/static/images/pack1_tiny.png">{% endif %}
							{% if price.in_catalog %}<img src="/static/images/pack2_tiny.png">{% endif %}
							{% if price.in_shop %}<img src="/static/images/pack3_tiny.png">{% endif %}
						{% endif %}
					</td>
					<td class="actions">
						<a title="edit" href="/admin/{{ cls_name }}/{{ price.id }}" class="btn btn-small edit-row-link">
							<i class="icon-pencil"></i></a>
						<a title="delete" href="/admin/{{ cls_name }}/delete/{{ price.id }}" class="delete-row-link btn btn-small btn-danger">
							<i class="icon-trash icon-white"></i></a>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}