{% extends 'base_admin.jinja' %}

{% block content %}
	<h2>Клиенты</h2>

	<p class="mt20">
		<a href="/admin/{{ cls_name }}/new" class="btn btn-small">
			<i class="icon-plus"></i> Добавить клиента</a>
	</p>

	{% if records %}
		<table class="table table-striped table-condensed editable-list mt20" data-cls-name="{{ cls_name }}">
			<thead>
				<tr>
					{#<th></th>#}
					<th>Имя</th>
					<th>Телефон</th>
					<th>Примечание</th>
					<th>Дата добавления</th>
					<th></th>
				</tr>
			<tbody>
			{% for record in records %}
				<tr data-record-id="{{ record.id }}">
					{% include 'admin/_{0}.jinja'.format(record_name) %}
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p class="mt20">Нет клиентов</p>
	{% endif %}
{% endblock %}