{% extends 'base_admin.jinja' %}

{% block content %}
	<h2>Цены</h2>

	<div class="mt20">
		<a href="/admin/{{ cls_name }}/new" class="btn btn-small">
			<i class="icon-plus"></i> Добавить цену
		</a>

		<a href="{{ url_for('change_record_position', cls_name=cls_name) }}" class="btn btn-small js-hide" id="saveOrderButton">
			<i class="icon-list-alt"></i> Сохранить порядок</a>
	</div>

	{% if prices %}
		<table class="table table-striped table-condensed table-dnd mt20" data-cls-name="{{ cls_name }}">
			<thead>
				<tr>
					<th></th>
					<th>Модуль</th>
					<th>Цена</th>
					<th>Описание</th>
					<th class="align-center"><i class="icon-asterisk tip" title="Во всех наборах"></i></th>
					<th class="align-center"><img src="/static/images/pack1_tiny.png" class="tip" title="В визитке"></th>
					<th class="align-center"><img src="/static/images/pack2_tiny.png" class="tip" title="В каталоге"></th>
					<th class="align-center"><img src="/static/images/pack3_tiny.png" class="tip" title="В магазине"></th>
					<th></th>
				</tr>
			<tbody>
			{% for price in prices %}
				<tr id="record{{ price.id }}" data-record-id="{{ price.id }}">
					{% include 'admin/_price.jinja' %}
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}