{% extends 'base_admin.jinja' %}

{% block content %}
	<h2>Товары</h2>

	<p class="mt20">
		<a href="/admin/{{ cls_name }}/new" class="btn btn-small">
			<i class="icon-plus"></i> Добавить товар</a>
	</p>

	{% if records %}
		{% if False %}
			<ul class="tag-list" id="tagsList">
				<li><a href="?">все</a></li>
				{% include 'admin/tags_list.jinja' %}
			</ul>
		{% endif %}

		<table class="table table-striped table-condensed editable-list mt20" data-cls-name="{{ cls_name }}"
				id="product-list">
			<thead>
				<tr>
					<th></th>
					<th>Заголовок</th>
					<th>Type</th>
					<th>Описание</th>
					<th>Продано?</th>
					<th>Отложено?</th>
					<th>Цена</th>
					<th>Размер</th>
					<th>Материал</th>
					<th>Вес</th>
					<th></th>
				</tr>
			<tbody>
			{% for record in records %}
				<tr data-record-id="{{ record.id }}" data-id="{{ record.id }}">
					{% include 'admin/_{0}.jinja'.format(record_name) %}
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p class="mt20">Нет товаров</p>
	{% endif %}


	<script>
		var $list = $('#product-list');
		var timeout;

		$list.tableDnD({
			onDrop: function() {
				if (timeout) {
					clearTimeout(timeout);
				}
				timeout = setTimeout(function() {
					savePosition();
				}, 1000);
			}
		});

		function savePosition() {
			var $rows = $list.find('tbody tr'),
				ids = [];

			$rows.each(function(i, el) {

				ids.push($(el).data('id'));
			});

			ids = ids.join(',');

			$.post('{{ url_for('admin.change_record_position', cls_name=cls_name) }}', {
				ids: ids
			}, function(res) {
				// $.flash('Порядок сохранен');
				
				firstDrop = true;

				// $self.attr('disabled', false);
				// $self.html('Сохранить порядок');
				// $self.hide();
			});
		}
	</script>
{% endblock %}