{% extends 'base_admin.jinja' %}

{% block content %}
	<h2>Отзывы</h2>

	<p class="mt20">
		<a href="/admin/{{ cls_name }}/new" class="btn btn-small">
			<i class="icon-plus"></i> Добавить отзыв
		</a>
	</p>

	{% if reviews %}
		<table class="table table-striped table-condensed mt20">
			<thead>
				<tr>
					<th></th>
					<th>Отзыв</th>
					<th>Имя</th>
					<th>Место</th>
					<th></th>
				</tr>
			<tbody>
			{% for review in reviews %}
				<tr class="{{ loop.cycle('row1', 'row2') }}" id="record{{ review.id }}">
					<td>
						{% if review.photo_filename %}
						<a href="/admin/{{ cls_name }}/{{ review.id }}{% if filter %}?filter={{ filter }}{% endif %}"
								class="admin-list-pwork">
							<img style="max-width: 50px; max-height: 50px" src="{{ review.get_photo_url() }}"></a>
					{% endif %}
					</td>
					<td>
						<a href="{{ url_for('edit_record', cls_name=cls_name, id=review.id) }}">{{ review.text|striptags }}</a>
					</td>
					<td>
						{{ review.name }}
					</td>
					<td>
						{{ review.place }}
					</td>
					<td class="actions">
						<a href="/admin/{{ cls_name }}/{{ review.id }}" title="редактировать">
							<i class="icon-pencil"></i></a>
						<a href="/admin/{{ cls_name }}/delete/{{ review.id }}" class="delete-row-link" title="удалить">
							<i class="icon-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p class="mt20">Нет отзывов</p>
	{% endif %}

{% endblock %}