{% extends 'base_admin.jinja' %}

{% block pagetitle %}Вход{% endblock pagetitle %}

{% block content %}
	<form action="{{ url_for('login') }}" method="POST" class="form-horizontal">
		
		{% for f in form %}
			<div class="control-group {% if f.errors %}error{% endif %}">
				<label for="{{ f.id }}" class="control-label">{{ f.label.text }}</label>
				<div class="controls">{{ f }}</div>
			</div>
		{% endfor %}

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Login</button>
		</div>
	</form>

	<script type="text/javascript"> 
		document.getElementById('username').focus()
	</script> 
{% endblock content %}