{% extends 'base_admin.jinja' %}

{% block pagetitle %}Добавление товара{% endblock pagetitle %}

{% block content %}
        
    <h2>{% if add %}Новая запись{% else %}Редактирование записи{% endif %}</h2>

    <form action="/admin/{{ cls_name }}/{% if add %}new{% elif record %}{{ record.id }}{% endif %}
            {%- if filter %}?filter={{ filter }}{% endif %}"
            class="form-horizontal mt30" method="POST" enctype="multipart/form-data">
        {% for f in form %}
            <div class="control-group {% if f.errors %}error{% endif %}">
                {% if f.type == 'BooleanField' %}
                    <div class="controls">
                        {{ f.label(text='%s %s'|format(f, f.label.text), class='checkbox') }}
                        {% if f.description %}<p class="help-block">{{ f.description }}</p>{% endif %}
                {% else %}
                    {{ f.label(class='control-label') }}
                    <div class="controls">
                        {{ f(class='input-xxlarge') }}
                {% endif %}
                    {% if f.description %}<p class="help-block">{{ f.description }}</p>{% endif %}

                    {% for e in f.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                </div> <!-- /.controls !!! -->
            </div>
        {% endfor %}

    {% if photos_form %}
        <div style="margin-top: 30px;">
            {% for f in photos_form %}
                <div class="control-group {% if f.validators %}required{% endif %}">
                    {{ f.label(class='control-label') }}
                    <div class="controls">
                        {{ f(multiple='1') }}

                        {% if f.description %}<p class="help-block">{{ f.description }}</p>{% endif %}

                        {% for e in f.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    </div>
                </div> <!-- /.controls-group -->
            {% endfor %}
        </div>
    {% endif %}

    {% if photos %}
        <div class="photo-list">
            {% for photo in photos %}
                <div class="photo-item js-photo-item" data-id="{{ photo.id }}">
                    <img src="{{ photo.get_photo_url() }}">
                    <div class="photo-item__overlay">удалить</div>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>

        <style>
            .photo-list {

            }
            .photo-item {
                border: 1px solid #eee;
                margin-right: 5px;
                cursor: pointer;
                float: left;
                height: 100px;
                line-height: 100px;
                text-align: center;
                position: relative;
                width: 100px;
            }
                .photo-item img {
                    height: auto;
                    max-height: 100%;
                    max-width: 100%;
                    width: auto;
                }
                .photo-item:hover .photo-item__overlay {
                    display: block;
                }
                .photo-item__overlay {
                    background: rgba(255, 0, 0, 0.5);
                    color: #fff;
                    display: none;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
        </style>

        <script>
            (function() {
                var $b = $('body');
                var $w = $(window);

                $b.on('click', '.js-photo-item', function(e) {
                    var $item = $(e.currentTarget);
                    var id = $item.data('id');

                    if (! window.confirm('Уверены?')) {
                        return false;
                    }

                    $.ajax({
                        url: '/admin/delete-photo',
                        type: 'POST',
                        data: {
                            id: id
                        }
                    })
                    .done(function(res) {
                        if (res.success) {
                            $item.fadeOut(function() {
                                $item.remove();
                            });
                        } else {
                            alert('Ошибка. Сказать Гоше.');
                        }
                    })
                    .fail(function() {
                        alert('Ошибка. Сказать Гоше.');
                    });
                });
            })();
        </script>
    {% endif %}

        {% if markup_form %}
            <div class="markup-fieldset" id="markupFieldset">
                {% for f in markup_form %}
                    <div class="control-group {% if f.validators %}required{% endif %}">
                        {% if f.type == 'BooleanField' %}
                            <div class="controls">
                                {{ f.label(text='%s %s'|format(f, f.label.text)) }}
                                {% if f.description %}<p class="help-block">{{ f.description }}</p>{% endif %}
                        {% else %}
                            {{ f.label(class='control-label') }}
                            <div class="controls">
                                {{ f(class='input-xxlarge') }}
                        {% endif %}
                            {% if f.description %}<p class="help-block">{{ f.description }}</p>{% endif %}

                            {% for e in f.errors %}
                                <p class="help-block">{{ e }}</p>
                            {% endfor %}
                        </div> <!-- /.controls !!! -->
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-actions">

            <a class="btn" href="{% if back_to %}{{ back_to }}{% else %}/admin/{{ cls_name }}{% endif %}">
                <i class="icon-arrow-left"></i> Отмена</a>
            <button type="submit" class="btn btn-primary">
                <i class="icon-ok icon-white"></i> Сохранить</button>
            {% if add %}
                <button type="submit" class="btn" name="_add_more">Сохранить и добавить еще</button>
            {% endif %}
        </div>
    </form>

    {% if not add and cls_name == 'Work' %}
        {% include 'admin/work_photos.jinja' %}
    {% endif %}

{% endblock content %}

{% if not add and cls_name == 'Work' %}
    {% block extra_js %}
        
    {% endblock extra_js %}
{% endif %}
