<div class="nav nav-list mt30">
	<li class="nav-header">Быстрые ссылки</li>
	<li><a href="/admin"><i class="icon-home"></i> Начало</a></li>
	<li><a href="/"><i class="icon-road"></i> На сайт</a></li>
	<li><a href="https://metrika.yandex.ru/stat/?counter_id=23323708" target="_blank"><i class="icon-zoom-in"></i> Статистика</a></li>

	<li class="nav-header">Управление</li>
	<li><a href="/admin/Product"><i class="icon-list"></i> Товар</a></li>
	<li><a href="/admin/Review"><i class="icon-list"></i> Отзывы</a></li>
	<li><a href="/admin/Coupon"><i class="icon-list"></i> Купон</a></li>
	{#<li><a href="/admin/Order"><i class="icon-list"></i> Заказы</a></li>
	<li><a href="/admin/File"><i class="icon-list"></i> Файлы</a></li>
	<li><a href="/admin/Price"><i class="icon-list"></i> Цены</a></li>
	<li><a href="/admin/Client"><i class="icon-list"></i> Клиенты</a></li>
	<li class="divider"></li>
	<li><a href="/admin/Review"><i class="icon-inbox"></i> Отзывы</a></li>
	<li>
		<a href="/admin/Feedback">
			<i class="icon-inbox"></i> Обратная связь
			{% if g.feedbacks_count %}<span class="badge badge-info">{{ g.feedbacks_count }}</span>{% endif -%}
		</a>
	</li>#}

	<li class="nav-header">Сессия</li>
	<!-- <li><a href=""><i class="icon-cog"></i> Change password</a></li> -->
	<li><a href="{{ url_for('logout') }}"><i class="icon-off"></i> Выход</a></li>
</div>