<h2 class="mt50" id="editPhotosTitle">Изображения к работе</h2>

<div class="details add-new mt20">
	<div class="content">
		<form action="{{ url_for('upload_work_photo', id=record.id) }}" method="POST"
				enctype="multipart/form-data" class="form-horizontal">

			<div class="control-group">
				<label for="photoPhoto" class="control-label">Фото</label>
				<div class="controls">
					<input type="file" name="photo" id="photoPhoto" />
				</div>
			</div>

			<div class="control-group">
				<label for="photoDescription" class="control-label">Подпись</label>
				<div class="controls">
					<textarea name="description" class="span6" id="photoDescription"></textarea>
				</div>
			</div>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					<i class="icon-upload icon-white"></i> Загрузить</button>
				<a href="" class="btn btn-small close-details">
					<i class="icon-remove"></i> Отмена</a>
			</div>
		</form>
	</div> <!-- /.content -->
	
	<div>
		<a href="#" class="summary btn btn-small">
			<i class="icon-plus"></i> Добавить</a>

		<a href="{{ url_for('change_record_position', cls_name='WorkPhoto') }}" class="btn btn-small display-none" id="saveOrderButton">
			<i class="icon-list-alt"></i> Сохранить порядок</a>
	</div>
</div> <!-- /.details -->

{% if photos %}
	<ul class="thumbnails mt30 sortable">
		{% for photo in photos %}
			<li class="span2" data-record-id="{{ photo.id }}">
				<p>
					<img src="{{ photo.photo_url(100) }}" alt="" class="thumbnail">
				</p>

				<div class="inline-actions">
					<a href="{{ url_for('delete_record', cls_name='WorkPhoto', id=photo.id) }}" class="delete-inline-link" title="удалить">
						<i class="icon-trash"></i></a>
						<i class="icon-move move mtl3"></i>
				</div>
			</li>
		{% endfor %}{# for photo in photos #}
	</ul>
{% endif %}