<div class="page-footer__heading">КОНТАКТЫ</div>
<div class="page-footer__text">
    Наши украшения создаются с любовью и вручную. Вы не найдете у нас ни одного повторяющегося изделия, потому что каждое из них уникально и в единственном экземпляре.
</div>
<div class="page-footer__info">
    +7 906 413-41-77<br>
    <a href="mailto:liborashop@gmail.com">liborashop@gmail.com</a>
</div>
<div class="page-footer__social-links">
    <a target="_blank" href="http://instagram.com/libora_shop"><i class="icon icon_instagram"></i></a>
    {#<a target="_blank" href=""><i class="icon icon_facebook"></i></a>#}
    <a target="_blank" href="http://vk.com/club2066952"><i class="icon icon_vk"></i></a>
    <a target="_blank" href="http://odnoklassniki.ru/libora"><i class="icon icon_ok"></i></a>
</div>
