<a href="/" class="page-logo"></a>

{% if not g.hide_page_cart %}

    <div class="page-header__cart {% if g.cart_total_count == 0 %}page-header__cart_empty{% endif %}" id="page-header-cart">
        <div class="page-header__cart__title js-title">
            <i class="icon icon_cart"></i>
            <span class="page-header__cart__title__counter js-total-count">
                {{ g.cart_total_count }}</span>
        </div>

        <div class="page-header__cart__dropdown">
            <div class="page-header__cart__dropdown__list" id="page-header-cart-list">
                {% for cart_product in g.cart_products %}
                    {% include 'blocks/_page_cart_item.jinja' %}
                {% endfor %}
            </div> <!-- /.page-header__cart__dropdown__list -->

            <div class="page-header__cart__dropdown__info c">
                <span class="l">Итого</span>
                <span class="r page-header__cart__dropdown__info__sum">
                    <span class="js-total-sum">{{ g.cart_total_sum }}</span>
                    <i class="icon icon_ruble">&#8399;</i>
                </span>
            </div>

            <div class="page-header__cart__dropdown__info-empty">Корзина пуста</div>

            <a href="/cart" class="btn page-header__cart__dropdown__btn r">Оформить покупку</a>

            <div class="c"></div>
            
        </div> <!-- /.page-header__cart__dropdown -->
    </div>

{% endif %}

<nav class="page-nav">
    <a href="/" class="page-nav__link {% if g.page == 'index' %}page-nav__link_selected{% endif %}">КАТАЛОГ</a>
    <a href="/howto" class="page-nav__link {% if g.page == 'howto' %}page-nav__link_selected{% endif %}">КАК КУПИТЬ</a>
    <a href="/delivery" class="page-nav__link {% if g.page == 'delivery' %}page-nav__link_selected{% endif %}">ДОСТАВКА</a>
    <a href="/reviews" class="page-nav__link {% if g.page == 'reviews' %}page-nav__link_selected{% endif %}">ОТЗЫВЫ</a>
    <a href="#" class="js-scroll-to-contacts page-nav__link">КОНТАКТЫ</a>
</nav>


<div class="page-header__line-wrap">
    <img src="/static/images/line_green.svg" class="page-header__line page-header__line_green">
    <img src="/static/images/line_orange.svg" class="page-header__line page-header__line_orange">
    <img src="/static/images/line_purple.svg" class="page-header__line page-header__line_purple">
    <img src="/static/images/line_darkgreen.svg" class="page-header__line page-header__line_darkgreen">
    <img src="/static/images/line_aqua.svg" class="page-header__line page-header__line_aqua">
</div>