<div class="page-header__cart__dropdown__list__item js-page-header-cart-dropdown-list-item c"
        data-id="{{ cart_product.id }}">
    <span class="page-header__cart__dropdown__list__item__image">
        <a href="{{ cart_product.get_absolute_url() }}">
		<img src="{{ cart_product.get_preview_url() }}" alt="{{ cart_product.title }}">
	</a>
    </span>
    <span class="page-header__cart__dropdown__list__item__title">{{ cart_product.title }}</span>
    <span class="page-header__cart__dropdown__list__item__price">{{ cart_product.price }} <i class="icon icon_ruble">&#8399;</i></span>

    <div class="page-header__cart__dropdown__list__item__close js-delete"></div>
</div> <!-- /.page-header__cart__dropdown__list__item -->
