<div class="reviews-item c">
    <img src="{{ review.get_photo_url() }}" class="reviews-item__image" alt="{{ review.name }}">
    <div class="reviews-item__content r">
        <div class="reviews-item__content__review">
            {{ review.text }}
        </div>
        <div class="reviews-item__content__name">{{ review.name }}</div>
        <div class="reviews-item__content__place">{{ review.place }}</div>
    </div>
</div> <!-- /.reviews-item -->