<!DOCTYPE html>

<html>
<head>
	<title>Администрирование "8hands.ru" - {% block pagetitle %}Главная{% endblock pagetitle %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.fileupload-ui.css" />
	<style>
		.mt10 { margin-top: 10px !important; }
		.mt20 { margin-top: 20px !important; }
		.mt30 { margin-top: 30px !important; }
		.mt50 { margin-top: 50px !important; }

		.mr10 { margin-right: 10px !important; }

		.inline { display: inline; }
		.nowrap { white-space: nowrap; }

		.w20p { width: 20%; }
		.w30p { width: 30%; }
		.w40p { width: 40%; }
		.w50p { width: 50%; }

		.w30 { width: 30px; }
		.w40 { width: 40px; }
		.w50 { width: 50px; }

		.align-center { text-align: center !important; }

		.btn {
			white-space: nowrap !important;
		}

		.b {
			border: 1px solid red !important;
		}

		td.actions {
			padding: 0;
			text-align: center;
			vertical-align: middle;
			width: 10%;
			white-space: nowrap;
		}
			td.actions a {
				display: none;
			}
			tr:hover td.actions a {
				display: inline-block;
			}

		tr.dragging {
		}
			tr.dragging td {
				background: #ddd !important;
			}

		td.editable-attr {
			position: relative;
		}
		td.editable-attr input[type=text], td.editable-attr textarea {
			box-shadow: 3px 3px 5px #999;
			position: absolute;
			top: 5px;
			z-index: 1;
		}

		td.move {
			cursor: move;
			text-align: center;
			vertical-align: middle;
		}

		td {
			vertical-align: middle !important;
		}

		td.checkbox-cell {
			cursor: pointer;
			text-align: center;
			vertical-align: middle;
			width: 30px;
		}

		label {
			cursor: pointer;
		}

		.container-fluid {
			margin: 0 auto;
			max-width: 1350px;
			min-width: 960px;
		}

		.hidden {
			display: none;
		}

		th {
			vertical-align: top;
		}

		.what-have span {
			display: block;
			white-space: nowrap;
		}

		table {
			max-width: 100% !important;
		}

		img {
			max-width: 100%;
		}

		.details .content {
			display: none;
		}
		.details.opened .content {
			display: block;
		}

		.display-none {
			display: none;
		}

		.l {
			float: left;
		}
		.r {
			float: right;
		}

		.table .message .full-message, .table .message.opened .short-message {
			display: none;
		}
		.table .message.opened .full-message {
			display: block;
		}

		.move {
			cursor: move !important;
		}

		.mtl3 {
			margin: 3px 0 0 3px;
		}

		.vhidden {
			visibility: hidden;
		}

		.ajax-loading {
			color: #999;
			margin: 25px 0 0 15px;
			opacity: 0;
		}
			.ajax-loading.ok {
				color: #3d3;
			}
			.ajax-loading.error {
				color: #d33;
			}
	</style>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

	<script src="/static/admin/js/jquery.tablednd_0_5.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>

	<script src="/static/admin/js/admin.js"></script>
</head>
<body {{ body_class|safe }}>

	<div id="container" class="container-fluid mt20">

		<div class="row-fluid mt50">
			<div class="span2">
				<a href="/" target="_blank"><img src="/static/images/logo_green.png"></a>

				{% if not not_logged %}
					{% include 'admin/menu.jinja' %}
				{% endif %}

				<p id="ajaxLoading" class="ajax-loading ggg">
					saving...
				</p>
			</div> <!-- /.span2 -->

			<div class="span10">
				{% set messages = get_flashed_messages(with_categories=True) %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
						<a class="close" data-dismiss="alert">&times;</a>
					</div>
				{% endfor %}

				{% block content %}{% endblock content %}
			</div> <!-- /.span10 -->
		</div> <!-- /.row -->

	</div>
</body>
</html>