<!doctype html>
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Libora – Украшения ручной работы</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <meta name="og:title" content="Libora – {% block og_title %}Украшения ручной работы{% endblock %}">
    <meta name="og:description" content="{% block og_description %}{% endblock %}">
    <meta name="og:image" content="{% block og_image %}{{ SITE_URL }}/static/images/logo_green.png{% endblock %}">

    <meta name="yandex-verification" content="75f1de2fa9cf4512" />

    <link rel="icon" href="/static/images/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css?2" />

    <script src="http://modernizr.com/downloads/modernizr-2.5.3.js"></script>

    <script>

        var LIBORA = {
            data: {}
        };
        LIBORA.page = '{{ g.page }}';

    </script>
</head>

<body class="{% block body_classname %}{% endblock %}">

    <div class="page-wrap">
        
        <header class="page-header" id="page-header">
            {% include 'blocks/_header.jinja' %}
        </header>

        <div class="page-content c" id="page-content">
            {% block content %}{% endblock %}
        </div> <!-- /.page-content -->
        
    </div>


    <footer class="page-footer c" id="page-footer">
        {% include 'blocks/_footer.jinja' %}
    </footer>

    <script src="/static/js/jquery.js?{{ VERSION }}"></script>
    <script src="/static/js/event.js?{{ VERSION }}"></script>
    <script src="/static/js/jquery.customselect.js?{{ VERSION }}"></script>
    <script src="/static/js/script.js?{{ VERSION }}"></script>
    {% block extra_js %}{% endblock %}



<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23323708 = new Ya.Metrika({id:23323708,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23323708" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-19203626-8', 'libora.ru');
  ga('send', 'pageview');
</script>
    
</body>
</html>
