{% extends 'base.jinja' %}

{% block body_classname %}orange{% endblock %}

{% block content %}
    <div class="page-content__heading page-content__heading_left">
        Товаров в корзине <span class="js-cart-total-count">{{ g.cart_total_count }}</span> на сумму
        <span class="js-cart-total-sum">{{ g.cart_total_sum }}</span> <i class="icon icon_ruble">&#8399;</i>
    </div>

    <form id="cart-form" novalidate>

    <div class="cart">
        <div class="cart__products" id="cart-product-list">

            {% for product in products %}
                <div class="cart__products__item c js-cart-products-item"
                        data-id="{{ product.id }}" data-price="{{ product.get_price_as_int() }}">
                    <input type="hidden" name="id" value="{{ product.id }}">
                    <div class="cart__products__item__image l">
                        <a href="{{ product.get_absolute_url() }}">
                            <img src="{{ product.get_preview_url() }}" alt="{{ product.title }}">
                        </a>
                    </div>
                    <div class="cart__products__item__content l">
                        <div class="cart__products__item__content__title">
                            <a href="{{ product.get_absolute_url() }}">{{ product.title }}</a>
                        </div>
                        <div class="cart__products__item__content__description">
                            {{ product.description }}
                        </div>
                    </div> <!-- /.cart__products__item__content -->
                    {% if product.has_size() %}
                        <div class="cart__products__item__size l">
                            <div class="cart__products__item__size__title">размер</div>
                            <div class="mt10 js-input-wrap input-wrap">
                                <div class="input-error input-error_left js-input-error">Выберите размер</div>

                                <select name="size{{ product.id }}" class="js-customselect js-size" style="width: 60px;">
                                    <option value="">---</option>
                                    {% for size in product.get_size_list() %}
                                        <option value="{{ size }}">{{ size }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                    <div class="cart__products__item__price r">
                        <div class="cart__products__item__price__title">цена</div>
                        <div class="cart__products__item__price__value">
                            {{ product.price }} <i class="icon icon_ruble">&#8399;</i>
                        </div>
                    </div>

                    <a href="#" class="cart__products__item__close js-cart-products-item-delete"></a>
                </div> <!-- /.cart__products__item -->
            {% endfor %}
        </div> <!-- /.cart__products -->

        <div class="cart__total c r">
            <div class="cart__total__title">
                Итого общая цена товаров:
                <span class="cart__total__value">
                    <span class="js-cart-total-sum">{{ g.cart_total_sum }}</span>
                    <i class="icon icon_ruble">&#8399;</i>
                </span>

                <div class="cart__total__title__hint js-cart-total-hint"></div>
            </div>
            {% if not has_sale %}
                <div class="cart__total__coupon" id="coupon-form">
                    <div class="input-wrap input-wrap_inline">
                        <div class="input-error input-error_left input-error_coupon js-input-error">
                            Неправильный купон</div>
                        <input type="text" id="coupon" name="coupon" placeholder="Купон">
                        <a href="#" class="btn">ОК</a>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="c"></div>

        <div class="cart__actions r">
            <a href="#" class="btn" id="button-step2">оформить покупку</a>
        </div>

        <div class="c"></div>
    </div> <!-- /.cart -->

    <div id="step2" style="display: non;">

        <div class="page-content__subheading">Данные получателя</div>

        <div class="order-address" id="cart-info">
            <div class="form-row">
                <label for="">ФИО*</label>
                <input class="js-info-input" required type="text" name="name" placeholder="Ivan Ivanov">
                <div class="input-error js-input-error">Введите имя и фамилию</div>
            </div>
            <div class="form-row">
                <label for="">Телефон*</label>
                <input class="js-info-input" required type="text" pattern="[0-9]+" maxlength=10 name="phone" placeholder="9161234567">
                <div class="input-error js-input-error">Номер телефона 10 знаков без восьмерки</div>
            </div>
            <div class="form-row">
                <label for="">Email*</label>
                <input class="js-info-input" required type="email" name="email" placeholder="exmaple@gmail.com">
                <div class="input-error js-input-error">Введите правильный email</div>
            </div>
            <div class="form-row">
                <label for="">Адрес*</label>
                <input class="js-info-input" required type="text" name="address" id="address" placeholder="Московская область, Москва, ул. Серова, 17/3, кв. 322, 113355">
                <div class="input-error js-input-error">Заполните адрес</div>
            </div>
            <div class="form-row form-row_center">
                <a href="#" class="btn" id="cart-info-button">продолжить оформление</a>
            </div>
        </div> <!-- /.order-address -->

    </div>

    <div id="step3" style="display: non;">

        <div class="page-content__subheading">
            <span>Cпособ доставки</span>
        </div>

        <div class="order-delivery">
            <label class="order-delivery__item c">
                <span class="l">
                    <input type="radio" class="js-delivery" name="delivery" value="post">
                </span>
                <span class="order-delivery__item__content l ml15">
                    <span class="order-delivery__item__content__title">
                        Доставка почтой России (бесплатно)
                    </span>
                    <span class="order-delivery__item__content__text">
                        Курьерская доставка осуществляется в течении двух часов после оформления заказа, если товар есть в наличии и курьер не занят. Либо ко времени оговорённом с заказчиком.  Доставка осуществляется в пределах Ставрополя со вторника по субботу включительно с 10.00 до 15.00. Заказ  доставляется бесплатно.
                    </span>
                </span>
            </label> <!-- /.order-delivery__item -->

            <label class="order-delivery__item c">
                <span class="l">
                    <input type="radio" class="js-delivery" name="delivery" value="courier">
                </span>
                <span class="order-delivery__item__content l ml15">
                    <span class="order-delivery__item__content__title">
                        Курьером в Москве и Санкт-Петербурге (350 <i class="icon icon_ruble">&#8399;</i>)
                    </span>
                    <span class="order-delivery__item__content__text">
                        Курьерская доставка осуществляется в течении двух часов после оформления заказа, если товар есть в наличии и курьер не занят. Либо ко времени оговорённом с заказчиком.  Доставка осуществляется в пределах Ставрополя со вторника по субботу включительно с 10.00 до 15.00. Заказ  доставляется бесплатно.
                    </span>
                </span>
            </label> <!-- /.order-delivery__item -->
        </div> <!-- /.order-delivery -->

    </div>

    <div class="" id="step4" style="display: non;">

        <div class="page-content__subheading">Cпособ оплаты</div>

        <div class="order-payment">
            {#<div class="order-payment__item">
                <input type="radio" name="payment" id="payment_1">
                <label for="payment_1">Qiwi кошелек</label>
            </div>#}
            <div class="order-payment__item">

                {#<label class="order-delivery__item c">
                    <span class="l">
                        <input type="radio" class="js-payment-method" name="payment_method" value="post">
                    </span>
                    <span class="order-delivery__item__content l ml15">
                        <span class="order-delivery__item__content__title">
                            Доставка почтой России (бесплатно)
                        </span>
                        <span class="order-delivery__item__content__text">
                            Курьерская доставка осуществляется в течении двух часов после оформления заказа, если товар есть в наличии и курьер не занят. Либо ко времени оговорённом с заказчиком.  Доставка осуществляется в пределах Ставрополя со вторника по субботу включительно с 10.00 до 15.00. Заказ  доставляется бесплатно.
                        </span>
                    </span>
                </label> <!-- /.order-delivery__item -->#}

                <label class="order-delivery__item c">
                    <span class="l">
                        <input type="radio" class="js-payment-method" name="payment_method" checked value="card">
                    </span>
                    <span class="order-delivery__item__content l ml15">
                        <span class="order-delivery__item__content__title">
                            Перевод на карту
                            <a href="/howto" target="_blank">?</a>
                        </span>
                    </span>
                </label> <!-- /.order-delivery__item -->
            </div>
        </div> <!-- /.order-payment -->

        <div class="page-content__subheading">Комментарий к заказу</div>

        <div class="order-comment">
            <textarea name="comment"></textarea>
        </div>

        <div class="order-total c">
            <div class="hr"></div>

            <div class="order-total__title l">Итого c учетом доставки</div>
            <div class="order-total__sum r"><span class="js-order-total-sum">5987</span> <i class="icon icon_ruble">&#8399;</i></div>

            <div class="c"></div>

            <button type="submit" id="submit" class="btn btn_low mt20">завершить покупку</button>
        </div> <!-- /.order-total -->
    </div> <!-- /step -->

    </form>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="https://dadata.ru/static/js/suggestions-jquery-4.1.min.js"></script>
    <script src="/static/js/cart.js?{{ VERSION }}"></script>
{% endblock %}