{% extends 'base.jinja' %}

{% block body_classname %}purple{% endblock %}

{% block content %}
    <div class="page-content__heading page-content__heading_left page-content__heading_big mt20">
        Все покупки, совершенные в нашем интернет-магазине,<br>
        мы доставляем в любую точку России бесплатно
    </div>

    <div class="page-content__text">
        <h4>Курьерская доставка (только для Москвы и Санкт-Петербурга)</h4>        
        <p>
            Заказ отправляется в течении 1-2 дней после оплаты, до получателя посылка доходит за 1-2 рабочих дня. Доставка осуществялется до дверей. <strong>Стоимость доставки 350 рублей</strong>.
        </p>
        <h4>Доставка Почтой России</h4>        
        <p>
            Заказ отправляется в течении 1-2 дней после оплаты, до получателя он доходит в зависимости от региона. В среднем это занимает 1-2 недели. <strong>Доставка бесплатная и осуществляется Почтой России</strong>.
        </p>
    </div>
{% endblock %}