{% extends 'base.jinja' %}

{% block body_classname %}darkgreen{% endblock %}

{% block content %}
    <div class="page-content__heading page-content__heading_left page-content__heading_big mt20">
        Как купить украшение
    </div>

    <div class="page-content__text mt30">
        <h4>Выбор товара</h4>

        <p>
            После оформления заказа, вы получаете письмо на электронную почту с номером заказа и реквизитами для оплаты. После этого товар приобретает статус «Отложено» на 12 часов. В течение этого времени вы оплачиваете покупку, в противном случае бронь заказа снимается.
        </p>

        <h4>Оплата переводом на карту Сбербанка</h4>

        <p>
            Товар можно оплатить переводом на карту Сбербанка. Зачисление осуществляется быстро и без комиссии. Это можно сделать в любом отделении Сбербанка, а если у вас есть карта Сбербанка – через банкомат или <a href="https://online.sberbank.ru/CSAFront/index.do" target="_blank">Сбербанк ОнЛ@йн</a>).
        </p>
        
        <h4>После оплаты</h4>

        <p>
            После оплаты товар приобретает статус «Продано» и отправляется к вам выбранным способом <a href="/delivery">доставки</a>.
        </p>
    </div>
{% endblock %}