{% extends 'base.jinja' %}

{% block body_classname %}liquid{% endblock %}

{% block content %}

    <nav class="page-content__nav">
        <a href="?type_=ring" class="page-content__nav__link
                {% if type_ == 'ring' %}page-content__nav__link_selected{% endif %}">
            Кольца</a>
        <a href="?type_=earrings" class="page-content__nav__link
                {% if type_ == 'earrings' %}page-content__nav__link_selected{% endif %}">Серьги</a>
        <a href="?type_=neck" class="page-content__nav__link
                {% if type_ == 'neck' %}page-content__nav__link_selected{% endif %}">
            На шею</a>
        <a href="?action=sale" class="page-content__nav__link page-content__nav__link_sale
                {% if action == 'sale' %}page-content__nav__link_selected{% endif %}">
            Sale</a>
    </nav>

    <div class="product-filter">
        <select name="" class="js-customselect" id="product-filter-select" style="width: 130px;">
            <option value="all">все</option>
            <option value="in_stock" selected>в наличии</option>
        </select>
    </div>

    <div class="product-list c mt40">
        {% for product in products %}
            <div class="product-item js-product-item {% if product.id in g.cart_product_ids %}product-item_in-cart{% endif %}"
                    data-count="{{ product.count }}" data-id="{{ product.id }}"
                    data-in-stock="{{ product.in_stock and 1 or 0 }}">
                <a href="/product/{{ product.id }}">
                    <img src="{{ product.get_preview_url() }}" alt="{{ product.title }}" class="product-item__image">
                </a>
                
                <div class="product-item__bottom">
                    {% if product.sold %}
                        Продано
                    {% elif product.postponed %}
                        Отложено
                    {% else %}
                        {% if product.old_price %}
                            <div class="product-item__bottom__old-price">
                                {{ product.old_price }}
                                <i class="icon icon_ruble">&#8399;</i>
                            </div>
                        {% endif %}
                        {{ product.price }} <i class="icon icon_ruble">&#8399;</i>
                    {% endif %}
                </div> <!-- /.product-item__bottom -->
            </div> <!-- /.product-item -->
        {% endfor %}
    </div> <!-- /.product-list -->

{% endblock %}