{% extends 'base.jinja' %}

{% block og_title %}{{ product.title }}{% endblock %}
{% block og_description %}{{ product.description }}{% endblock %}
{% block og_image %}{{ SITE_URL }}{{ product.get_preview_url() }}{% endblock %}

{% block content %}

    <nav class="page-content__nav">
        <a href="/?type_=ring" class="page-content__nav__link
            {% if product.type_ == 0 %}page-content__nav__link_selected{% endif %}">Кольца</a>
        <a href="/?type_=earrings" class="page-content__nav__link
            {% if product.type_ == 1 %}page-content__nav__link_selected{% endif %}">Серьги</a>
        <a href="/?type_=neck" class="page-content__nav__link
            {% if product.type_ == 2 %}page-content__nav__link_selected{% endif %}">На шею</a>
    </nav>

    <div class="product {% if product.id in g.cart_product_ids %}product_in-cart{% endif %}" id="product">
        <div class="product__images l">
            {% for photo in product.photos %}
                <img src="{{ photo.get_photo_url() }}" alt="">
            {% endfor %}
        </div>

        <div class="product__content r" id="product-content" data-classname-fixed="product__content_fixed">
            <h1 class="product__content__title">
                {{ product.title }}
            </h1>
            <div class="product__content__separator"></div>

            <div class="product__content__price">{{ product.price }} <i class="icon icon_ruble">&#8399;</i></div>

            <dl class="product__content__details">

                {% if product.material %}
                    <dt class="product__content__details__title">Материал</dt> 
                    <dt class="product__content__details__description">{{ product.material }}</dt> 
                {% endif %}

                {% if product.stones %}
                    <dt class="product__content__details__title">Камни</dt> 
                    <dt class="product__content__details__description">{{ product.stones }}</dt> 
                {% endif %}

                {% if product.size %}
                    <dt class="product__content__details__title">Размер</dt> 
                    <dt class="product__content__details__description">{{ product.get_size_display() }}</dt> 
                {% endif %}

                {% if product.weight %}
                    <dt class="product__content__details__title">Вес</dt> 
                    <dt class="product__content__details__description">{{ product.weight }}</dt> 
                {% endif %}
            </dl>

            <div class="product__content__actions">
                {% if product.sold %}
                    <div class="btn btn_grey" disabled>Продано</div>
                {% elif product.postponed %}
                    <div class="btn btn_grey" disabled>Отложено</div>
                {% else %}
                    <div id="like-popup" class="product__content__actions__like-popup"></div>
                    <a id="buy-button" href="" class="product__content__actions__button btn btn_green btn_low">Купить</a>
                {% endif %}
            </div>

            <div class="product__content__share mt20">
                <script type="text/javascript">(function() {
                  if (window.pluso)if (typeof window.pluso.start == "function") return;
                  if (window.ifpluso==undefined) { window.ifpluso = 1;
                    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                    var h=d[g]('body')[0];
                    h.appendChild(s);
                  }})();</script>
                <div class="pluso" data-background="none;" data-options="small,square,line,horizontal,counter,sepcounter=1,theme=14" data-services="vkontakte,odnoklassniki,facebook,google,moimir"></div>
            </div>
        </div>

        <div class="c"></div>
    </div> <!-- /.product -->

    <div class="page-content__subheading">Вам может понравиться</div>

    <div class="product-list c mt50">
        {% for other_product in other_products %}
        <div class="product-item product-item_small js-product-item
                {% if other_product.id in g.cart_product_ids %}product-item_in-cart{% endif %}"
                data-id="{{ other_product.id }}">
            <a href="/product/{{ other_product.id }}">
                <img src="{{ other_product.get_preview_url() }}" alt="{{ other_product.title }}" class="product-item__image">
            </a>
            <div class="product-item__title">
                <a href="/product/{{ other_product.id }}">{{ other_product.title }}</a>
            </div>
            <div class="product-item__bottom">
                {% if other_product.sold %}
                    <div class="product-item__info">Продано</div>
                {% elif other_product.postponed %}
                    <div class="product-item__postponed">Отложено</div>
                {% else %}
                    <div class="product-item__button js-product-item-buy-btn
                    ">
                        <span class="product-item__button__price">{{ other_product.price }} <i class="icon icon_ruble">&#8399;</i></span>
                        <span class="product-item__button__text">купить</span>
                    </div>
                {% endif %}
                <div class="product-item__bottom__like-popup js-product-item-like-popup"></div>
            </div> <!-- /.product-item__bottom -->
        </div> <!-- /.product-item -->
        {% endfor %}
    </div> <!-- /.product-list -->

{% endblock %}

{% block extra_js %}
    <script>
        LIBORA.data.currentProductId = {{ product.id }};
    </script>
    <script src="/static/js/product.js"></script>
{% endblock %}