{% extends 'base.jinja' %}

{% block body_classname %}aqua{% endblock %}

{% block content %}
    <div class="page-content__heading page-content__heading_left page-content__heading_big mt20">
        Вот, что люди думают о нас
    </div>

    <div class="reviews c">
        
        <div class="reviews-list c">

            {% if reviews %}

                <div class="reviews-list__col l">
                    {% for review in reviews[::2] %}
                        {% include '_review.jinja' %}    
                    {% endfor %}
                </div>

                <div class="reviews-list__col r">
                    {% for review in reviews[1::2] %}
                        {% include '_review.jinja' %}
                    {% endfor %}
                </div>

            {% else %}

                <div class="reviews-list__col l">
                    <div class="reviews-item c">
                        <img src="/static/images/reviews/1.png" class="reviews-item__image" alt="">
                        <div class="reviews-item__content r">
                            <div class="reviews-item__content__review">
                                Муж подарил на день рождения сережки. Каждый день ношу с удовольствием. Так отлично подходят к повседневной одежде и вечером с мужем пойти в ресторан можно. Упакованно было в очень красивую коробочку перевязанную цветными ниточками. Видно, что хозяйка магазина старается и делает с любовью.
                            </div>
                            <div class="reviews-item__content__name">Дарья Дорошенко</div>
                            <div class="reviews-item__content__place">Россия, Ставрополь</div>
                        </div>
                    </div> <!-- /.reviews-item -->
                    <div class="reviews-item c">
                        <img src="/static/images/reviews/3.png" class="reviews-item__image" alt="">
                        <div class="reviews-item__content r">
                            <div class="reviews-item__content__review">
                                Очень крутые сережки!) Необычные камни и интересное обрамление позолотой!) Мне понравились!))))
                            </div>
                            <div class="reviews-item__content__name">Юличка Шарапова</div>
                            <div class="reviews-item__content__place">Россия, Ставрополь</div>
                        </div>
                    </div> <!-- /.reviews-item -->
                </div>

                <div class="reviews-list__col r">
                    
                    <div class="reviews-item c">
                        <img src="/static/images/reviews/2.png" class="reviews-item__image" alt="">
                        <div class="reviews-item__content r">
                            <div class="reviews-item__content__review">
                                Очень волновалась, что серьги будут не того цвета, как на фото, но была приятно удивлена. Более того, сделали бесплатную доставку.
                            </div>
                            <div class="reviews-item__content__name">Женя Шумилина</div>
                            <div class="reviews-item__content__place">Россия, Пенза</div>
                        </div>
                    </div> <!-- /.reviews-item -->


                    <div class="reviews-item c">
                        <img src="/static/images/reviews/4.png" class="reviews-item__image" alt="">
                        <div class="reviews-item__content r">
                            <div class="reviews-item__content__review">
                                Вот уж не думала, что доставка ко мне на север может быть настолько быстрой. Упаковка и серьги отличного качества, жду с нетерпением открытие интернет-магазина, обязательно выберу колечко в пару к сережкам.
                            </div>
                            <div class="reviews-item__content__name">Наталья Монастырская</div>
                            <div class="reviews-item__content__place">Россия, Сургут</div>
                        </div>
                    </div> <!-- /.reviews-item -->
                </div>

            {% endif %}

        </div> <!-- /.reviews-list -->

    </div> <!-- /.reviews -->
{% endblock %}