{% extends 'base.jinja' %}

{% block content %}
    <div class="page-content__message">
        <div class="page-content__message__title">Спасибо за покупку!</div>
        <div class="page-content__message__text">
            Ваш заказ от {{ now.strftime('%Y.%m.%d') }} принят.<br>
            Вам следует его оплатить в течение 12 часов. На это время все выбранные товары получают статус&nbsp;"Отложено"
        </div>
        <div class="page-content__message__info">
            Меня зовут Оксана и я свяжусь с Вами в ближайшее время.<br>
        </div>
    </div>
{% endblock %}